include-path = $HERE/inc $HERE/../inc

$extract{?} = extract

$fcflags_level = -O0 -Ovector1 -hfp0 -hflex_mp=strict -G1

# Override SHUMLib path here specifically so SERIAL Recon gets the right library
$lib_root_path{?} = /projects/um1/lib/cce-8.3.4
$shumlib_path{?} = $lib_root_path/shumlib/shumlib-2018.06.1/haswell

include = um-atmos-common.cfg

# add debug symbols to C code
$ccflags = $ccflags -g
build.prop{class,cc.flags} = $ccflags

# The lustre header files contain GNU-isms
build-recon.prop{cc.flags}[um/src/control/c_code/c_io_lustreapi.c]    = $ccflags -hgnu
build-atmos.prop{cc.flags}[um/src/control/c_code/c_io_lustreapi.c]    = $ccflags -hgnu
