# Paths to UM directory and GRIB
{%- set UMDIR = '/home/users/um' %}
{%- set BOREASZ_UMDIR = '/home/users/um' %}
{%- set OKEANOS_UMDIR = '/home/um' %}
{%- set GRIB_API_BOREASZ_ROOT_DIR='/home/users/um/grib_api/1.9.9' %}
{%- set GRIB_API_OKEANOS_ROOT_DIR='/home/mszpindl/grib_api/1.9.9' %}
# This path is used to look for control files etc if Jinja2 variable CENTRAL_INSTALL=true
{%- set BOREASZ_CENTRAL_INSTALL_DIR=BOREASZ_UMDIR %}
{%- set OKEANOS_CENTRAL_INSTALL_DIR=OKEANOS_UMDIR %}
# Path to directory with Known Good Output
{%- set KGO_BOREASZ_ROOT_DIR='/home/users/um/standard_jobs/kgo' %}
{%- set BOREASZ_N48_EG_KGO='vn11.1' %}
{%- set BOREASZ_N512_EG_KGO='vn11.1' %}
{%- set BOREASZ_SEUKV_EG_KGO='vn11.1' %}
{%- set BOREASZ_RECON_N512_EG_GRIB1_KGO='vn11.1' %}
{%- set BOREASZ_RECON_N512_EG_GRIB2_KGO='vn11.1' %}
{%- set BOREASZ_CREATEBC_GLOBAL_EG_FIXED_EG_2DUST6_KGO='vn11.1' %}
{%- set BOREASZ_CREATEBC_GLOBAL_EG_VARRES_EG_2DUST6_KGO='vn11.1' %}
{%- set BOREASZ_CREATEBC_FIXED_EG_FIXED_EG_0DUST0_KGO='vn11.1' %}
{%- set BOREASZ_CREATEBC_VARRES_EG_FIXED_EG_0DUST0_KGO='vn11.1' %}
{%- set BOREASZ_CREATEBC_GLOBAL_EG_FRAME_EG_2DUST2_KGO='vn11.1' %}
{%- set BOREASZ_CREATEBC_FRAME_EG_VARRES_EG_2DUST6_KGO='vn11.1' %}
{%- set BOREASZ_CREATEBC_GLOBAL_EG_FIXED_EG_AQUMTRACER_KGO='vn11.1' %}
{%- set BOREASZ_CREATEBC_VARRES_EG_FRAME_EG_0DUST0_KGO='vn11.1' %}
{%- set BOREASZ_CREATEBC_FRAME_EG_FIXED_EG_0DUST0_KGO='vn11.1' %}
{%- set BOREASZ_CREATEBC_GLOBAL_EG_FIXED_EG_TIMECONTROL_KGO='vn11.1' %}
{%- set KGO_OKEANOS_ROOT_DIR='/home/um/standard_jobs/kgo' %}
{%- set OKEANOS_N48_EG_KGO='vn11.1' %}
{%- set OKEANOS_N512_EG_KGO='vn11.1' %}
{%- set OKEANOS_SEUKV_EG_KGO='vn11.1' %}
{%- set OKEANOS_RECON_N512_EG_GRIB1_KGO='vn11.1' %}
{%- set OKEANOS_RECON_N512_EG_GRIB2_KGO='vn11.1' %}
{%- set OKEANOS_CREATEBC_GLOBAL_EG_FIXED_EG_2DUST6_KGO='vn11.1' %}
{%- set OKEANOS_CREATEBC_GLOBAL_EG_VARRES_EG_2DUST6_KGO='vn11.1' %}
{%- set OKEANOS_CREATEBC_FIXED_EG_FIXED_EG_0DUST0_KGO='vn11.1' %}
{%- set OKEANOS_CREATEBC_VARRES_EG_FIXED_EG_0DUST0_KGO='vn11.1' %}
{%- set OKEANOS_CREATEBC_GLOBAL_EG_FRAME_EG_2DUST2_KGO='vn11.1' %}
{%- set OKEANOS_CREATEBC_FRAME_EG_VARRES_EG_2DUST6_KGO='vn11.1' %}
{%- set OKEANOS_CREATEBC_GLOBAL_EG_FIXED_EG_AQUMTRACER_KGO='vn11.1' %}
{%- set OKEANOS_CREATEBC_VARRES_EG_FRAME_EG_0DUST0_KGO='vn11.1' %}
{%- set OKEANOS_CREATEBC_FRAME_EG_FIXED_EG_0DUST0_KGO='vn11.1' %}
{%- set OKEANOS_CREATEBC_GLOBAL_EG_FIXED_EG_TIMECONTROL_KGO='vn11.1' %}
#prebuilds, non-existent yet
{%- set PREBUILDS=False -%}
{%- set PREBUILD_BOREASZ_ROOT_DIR='' %}
{%- set PREBUILD_OKEANOS_ROOT_DIR='' %}

