{%- set UMDIR = '$UMDIR' %}
{%- set GRIB_API_XC40_CCE_ROOT_DIR='/opt/kma/grib_api/1.13.0/CRAY/83' %}
{%- set GRIB_API_XC40_IFORT_ROOT_DIR='/opt/kma/grib_api/1.13.0/INTEL/150' %}
{% if HOST_LINUX is not defined %}
{%- set HOST_LINUX='linux' %}
{%- endif %}
{% if HOST_XC40 is not defined %}
{%- set HOST_XC40="$ROSE_ORIG_HOST" %}
{%- endif %}
{%- set APRUN_HOST='nuri' %}
{%- set XC40_CENTRAL_INSTALL_DIR='$UMDIR' %}
{%- set XC40_N48_EG_KGO='vn11.1' %}
{%- set XC40_N512_EG_KGO='vn11.1' %}
{%- set KGO_XC40_ROOT_DIR='$UMDIR/kgo_kma_cce' %}
{%- set PREBUILD_XC40_ROOT_DIR='' %}

{%- set XC40_N48_EG_KGO='vn11.1' %}
{%- set XC40_N48_EG_SHORTSTEP_KGO='vn11.1' %}
{%- set XC40_N512_EG_KGO='vn11.1' %}

{# UM UTILS #}
{%- set XC40_UTILS_CRMSTYLE_COARSE_GRID_KGO='vn11.1' %}
{%- set XC40_UTILS_PPTOANC_BASIC_TEST_KGO='vn11.1' %}
{%- set XC40_UTILS_VOMEXT_DEFAULT_ND_KGO='vn11.1' %}
{%- set XC40_UTILS_VOMEXT_DEFAULT_EG_KGO='vn11.1' %}
{%- set XC40_CREATEBC_GLOBAL_ND_FIXED_ND_2DUST2_KGO='vn11.1' %}
{%- set XC40_CREATEBC_GLOBAL_ND_FIXED_EG_0DUST0_KGO='vn11.1' %}
{%- set XC40_CREATEBC_GLOBAL_EG_FIXED_ND_0DUST0_KGO='vn11.1' %}
{%- set XC40_CREATEBC_GLOBAL_EG_FIXED_EG_2DUST6_KGO='vn11.1' %}
{%- set XC40_CREATEBC_GLOBAL_EG_FIXED_EG_TIMECONTROL_KGO='vn11.1' %}
{%- set XC40_CREATEBC_GLOBAL_EG_VARRES_ND_0DUST0_KGO='vn11.1' %}
{%- set XC40_CREATEBC_GLOBAL_EG_VARRES_EG_2DUST6_KGO='vn11.1' %}
{%- set XC40_CREATEBC_FIXED_EG_VARRES_ND_0DUST0_KGO='vn11.1' %}
{%- set XC40_CREATEBC_FIXED_EG_FIXED_ND_0DUST0_KGO='vn11.1' %}
{%- set XC40_CREATEBC_FIXED_EG_FIXED_EG_0DUST0_KGO='vn11.1' %}
{%- set XC40_CREATEBC_VARRES_EG_FIXED_EG_0DUST0_KGO='vn11.1' %}
{%- set XC40_CREATEBC_VARRES_EG_FIXED_ND_0DUST0_KGO='vn11.1' %}
{%- set XC40_CREATEBC_GLOBAL_EG_FRAME_EG_2DUST2_KGO='vn11.1' %}
{%- set XC40_CREATEBC_FRAME_EG_VARRES_EG_2DUST6_KGO='vn11.1' %}
{%- set XC40_CREATEBC_COMP_CHECK_GLOBAL_EG_VARRES_EG_2DUST6_KGO='vn11.1' %}
{%- set XC40_CREATEBC_GLOBAL_ND_FIXED_EG_FREETRACER_KGO='vn11.1' %}
{%- set XC40_CREATEBC_GLOBAL_EG_FIXED_ND_AQUMTRACER_KGO='vn11.1' %}
{%- set XC40_CREATEBC_VARRES_EG_FRAME_EG_0DUST0_KGO='vn11.1' %}
{%- set XC40_CREATEBC_FRAME_EG_FIXED_EG_0DUST0_KGO='vn11.1' %}
