$keys_platform{?} = C_LONG_LONG_INT=c_long_long_int C_LOW_U=c_low_u FRL8=frl8 \
                  \ LINUX=linux BUFRD_IO=bufrd_io \
                  \ LFS=lfs GRIB_API=grib_api \
                  \ INTEL_FORTRAN=12000004 GNU_LIBC=2012000

include = external_paths.cfg
$gcom_path{?} = $gcom_mpp_path

# Non-empty OpenMP and Dr Hook settings:
$fcflags_drhook_on{?} = -I$drhook_path/include
$ldflags_drhook_on{?} = -L$drhook_path/lib -ldrhook -openmp
$ccflags_omp_off{?} = -diag-disable 3180
$fcflags_omp_on{?}  = -openmp
$ldflags_omp_on{?}  = -openmp
$ccflags_omp_on{?}  = -fopenmp

# Parallel GCOM library uses OpenMP:
$ldgcom_omp{?} = -openmp

# Set user options, with defaults:
$openmp{?} = true
$DR_HOOK{?} = false
include = options/common.cfg

$fcflags_prec{?} = -i8 -r8 

$fcflags_common = $fcflags_prec                        \
                \ -std03                               \
                \ -g                                   \
                \ -assume nosource_include             \
                \ -I$gcom_path/include                 \
                \ -I$netcdf_inc_path                   \
                \ -I$grib_api_path/include             \
                \ -I$shumlib_path/$openmp_path/include

$flags_coupling{?} =
$fcflags_coupling{?} = $flags_coupling
$fppflags_coupling{?} = $flags_coupling
$ccflags_coupling{?} = $flags_coupling
$cppflags_coupling{?} = $flags_coupling

$ldflags_coupling{?} =

$cpp{?} = cpp
$cppflags{?} = -E -C

$cc{?} = mpiicc
$ccflags{?} = -g -O3 -std=gnu99 

$fc{?} = mpiifort
$ldflags_overrides_prefix{?} =
$ldflags_overrides_suffix{?} =
$ldflags{?} = -L$gcom_path/lib -lgcom $ldgcom_omp \
    \ -L$netcdf_lib_path -lnetcdff -lnetcdf \
    \ -L$grib_api_path/lib -lgrib_api_f90 -lgrib_api -lc -lm \
    \ -L$shumlib_path/$openmp_path/lib \
    \ $ldflags_shumlib \
    \ $ldflags_omp $ldflags_drhook \
    \ $ldflags_overrides_suffix
