include-path = $HERE/inc $HERE/../inc

$extract{?} = extract
$mirror{?} = mirror
$steplist{?} = $extract $mirror

$fcflags_level = -O3 -qstrict

include = um-utils-mpp-common.cfg

# Optimisations
build-crmstyle_coarse_grid.prop{fc.flags}[um/src/atmosphere/boundary_layer]                  = $fcflags_all -qhot
build-crmstyle_coarse_grid.prop{fc.flags}[um/src/atmosphere/large_scale_precipitation]       = $fcflags_all -qhot
build-crmstyle_coarse_grid.prop{fc.flags}[um/src/atmosphere/large_scale_cloud]               = $fcflags_all -qhot
build-crmstyle_coarse_grid.prop{fc.flags}[um/src/atmosphere/gravity_wave_drag]               = $fcflags_all -qhot
build-crmstyle_coarse_grid.prop{fc.flags}[um/src/atmosphere/aerosols]                        = $fcflags_all -qhot
build-crmstyle_coarse_grid.prop{fc.flags}[um/src/atmosphere/atmosphere_service]              = $fcflags_all -qhot

# Reduce compile time with xlf
build-crmstyle_coarse_grid.prop{fc.flags}[um/src/utility/crmstyle_coarse_grid/alloc_sample_arrays_mod.F90] = $fcflags_common $fcflags_level $fcflags_drhook $fcflags_overrides
