{%- set integ_graphs_xc50 = {
     "xc50_cce_n48_omp_noios" : "",
     "xc50_ifort_n48_omp_noios" : "",
     "xc50_cce_n512_eg" : "",
     "xc50_ifort_n512_eg" : "",
     "xc50_cce_seukv_eg_omp_noios" : "",
     "xc50_ifort_seukv_eg_omp_noios" : "",
     "xc50_ifort_nzcsm" : "",
     "xc50_cce_recon_n512_eg_grib1" : "",
     "xc50_ifort_recon_n512_eg_grib1" : "",
     "xc50_cce_recon_n512_eg_grib2" : "",
     "xc50_ifort_recon_n512_eg_grib2" : "",
     "xc50_ifort_createbc_calcs" : "",
     "fcm_make_xc50_cce_high" : "",
     "fcm_make_xc50_ifort_high" : "",
     "fcm_make_xc50_cce_debug" : "",
     "fcm_make_xc50_ifort_debug" : "",
     "fcm_make_xc50_cce_safe" : "",
     "fcm_make_xc50_ifort_safe" : "",
     "fcm_make_xc50_cce_rigorous" : "",
     "fcm_make_xc50_ifort_rigorous" : "",
     "install_xc50_cce" : "",
     "install_xc50_ifort" : "",
     "umdp3_check" : "",
     "ifdef_check" : "",
    }
-%}
