{%- set name_graphs_xc50 = {

     "xc50_cce_n48_omp_noios" : "fcm_make_niwa_xc50_cce_um_safe_omp => \
                                 recon_niwa_xc50_cce_n48_eg_omp_noios => atmos_niwa_xc50_cce_n48_eg_omp_noios => \
                                 rose_ana_niwa_xc50_cce_n48_eg_omp_noios_atmos_kgo => housekeep_atmos_niwa_xc50_cce_n48_eg_omp_noios
                                 recon_niwa_xc50_cce_n48_eg_omp_noios => rose_ana_niwa_xc50_cce_n48_eg_omp_noios_recon_kgo
                                 fcm_make_niwa_xc50_install_ctldata => niwa_xc50_install_ctldata => \
                                 recon_niwa_xc50_cce_n48_eg_omp_noios & atmos_niwa_xc50_cce_n48_eg_omp_noios",

     "xc50_ifort_n48_omp_noios" : "fcm_make_niwa_xc50_ifort_um_safe_omp => \
                                   recon_niwa_xc50_ifort_n48_eg_omp_noios => atmos_niwa_xc50_ifort_n48_eg_omp_noios => \
                                   rose_ana_niwa_xc50_ifort_n48_eg_omp_noios_atmos_kgo => housekeep_atmos_niwa_xc50_ifort_n48_eg_omp_noios
                                   recon_niwa_xc50_ifort_n48_eg_omp_noios => rose_ana_niwa_xc50_ifort_n48_eg_omp_noios_recon_kgo
                                   fcm_make_niwa_xc50_install_ctldata => niwa_xc50_install_ctldata => \
                                   recon_niwa_xc50_ifort_n48_eg_omp_noios & atmos_niwa_xc50_ifort_n48_eg_omp_noios",

     "xc50_cce_n512_eg" : "fcm_make_niwa_xc50_cce_um_high_omp => \
                           recon_niwa_xc50_cce_n512_eg => atmos_niwa_xc50_cce_n512_eg => \
                           rose_ana_niwa_xc50_cce_n512_eg_atmos_kgo => housekeep_atmos_niwa_xc50_cce_n512_eg
                           recon_niwa_xc50_cce_n512_eg => rose_ana_niwa_xc50_cce_n512_eg_recon_kgo
                           fcm_make_niwa_xc50_install_ctldata => niwa_xc50_install_ctldata => \
                           recon_niwa_xc50_cce_n512_eg & atmos_niwa_xc50_cce_n512_eg",

     "xc50_ifort_n512_eg" : "fcm_make_niwa_xc50_ifort_um_high_omp => \
                             recon_niwa_xc50_ifort_n512_eg => atmos_niwa_xc50_ifort_n512_eg => \
                             rose_ana_niwa_xc50_ifort_n512_eg_atmos_kgo => housekeep_atmos_niwa_xc50_ifort_n512_eg
                             recon_niwa_xc50_ifort_n512_eg => rose_ana_niwa_xc50_ifort_n512_eg_recon_kgo
                             fcm_make_niwa_xc50_install_ctldata => niwa_xc50_install_ctldata => \
                             recon_niwa_xc50_ifort_n512_eg & atmos_niwa_xc50_ifort_n512_eg",

     "xc50_cce_seukv_eg_omp_noios" : "fcm_make_niwa_xc50_cce_um_high_omp => \
                                      recon_niwa_xc50_cce_seukv_eg_omp_noios => atmos_niwa_xc50_cce_seukv_eg_omp_noios => \
                                      rose_ana_niwa_xc50_cce_seukv_eg_omp_noios_atmos_kgo => housekeep_atmos_niwa_xc50_cce_seukv_eg_omp_noios
                                      recon_niwa_xc50_cce_seukv_eg_omp_noios => rose_ana_niwa_xc50_cce_seukv_eg_omp_noios_recon_kgo
                                      fcm_make_niwa_xc50_install_ctldata => niwa_xc50_install_ctldata => \
                                      recon_niwa_xc50_cce_seukv_eg_omp_noios & atmos_niwa_xc50_cce_seukv_eg_omp_noios",

     "xc50_ifort_seukv_eg_omp_noios" : "fcm_make_niwa_xc50_ifort_um_high_omp => \
                                        recon_niwa_xc50_ifort_seukv_eg_omp_noios => atmos_niwa_xc50_ifort_seukv_eg_omp_noios => \
                                        rose_ana_niwa_xc50_ifort_seukv_eg_omp_noios_atmos_kgo => housekeep_atmos_niwa_xc50_ifort_seukv_eg_omp_noios
                                        recon_niwa_xc50_ifort_seukv_eg_omp_noios => rose_ana_niwa_xc50_ifort_seukv_eg_omp_noios_recon_kgo
                                        fcm_make_niwa_xc50_install_ctldata => niwa_xc50_install_ctldata => \
                                        recon_niwa_xc50_ifort_seukv_eg_omp_noios & atmos_niwa_xc50_ifort_seukv_eg_omp_noios",

     "xc50_ifort_nzcsm" : "fcm_make_niwa_xc50_ifort_um_high_omp => recon_niwa_xc50_ifort_nzcsm => \
                           rose_ana_niwa_xc50_ifort_nzcsm_recon_kgo
                           fcm_make_niwa_xc50_ifort_createbc_high_omp => createbc_niwa_xc50_ifort_nzcsm => \
                           rose_ana_niwa_xc50_ifort_nzcsm_createbc_kgo
                           recon_niwa_xc50_ifort_nzcsm & createbc_niwa_xc50_ifort_nzcsm => \
                           atmos_niwa_xc50_ifort_nzcsm => rose_ana_niwa_xc50_ifort_nzcsm_atmos_kgo => \
                           housekeep_atmos_niwa_xc50_ifort_nzcsm
                           fcm_make_niwa_xc50_install_ctldata => niwa_xc50_install_ctldata => \
                           recon_niwa_xc50_ifort_nzcsm & createbc_niwa_xc50_ifort_nzcsm & \
                           atmos_niwa_xc50_ifort_nzcsm",

     "xc50_cce_recon_n512_eg_grib1" : "fcm_make_niwa_xc50_cce_recon_safe_omp => \
                                       recon_niwa_xc50_cce_recon_n512_eg_grib1 => rose_ana_niwa_xc50_cce_recon_n512_eg_grib1_kgo => \
                                       housekeep_niwa_xc50_cce_recon_n512_eg_grib1
                                       fcm_make_niwa_xc50_install_ctldata => niwa_xc50_install_ctldata => recon_niwa_xc50_cce_recon_n512_eg_grib1",

     "xc50_ifort_recon_n512_eg_grib1" : "fcm_make_niwa_xc50_ifort_recon_safe_omp => \
                                         recon_niwa_xc50_ifort_recon_n512_eg_grib1 => rose_ana_niwa_xc50_ifort_recon_n512_eg_grib1_kgo => \
                                         housekeep_niwa_xc50_ifort_recon_n512_eg_grib1
                                         fcm_make_niwa_xc50_install_ctldata => niwa_xc50_install_ctldata => recon_niwa_xc50_ifort_recon_n512_eg_grib1",

     "xc50_cce_recon_n512_eg_grib2" : "fcm_make_niwa_xc50_cce_recon_safe_omp => \
                                       recon_niwa_xc50_cce_recon_n512_eg_grib2 => rose_ana_niwa_xc50_cce_recon_n512_eg_grib2_kgo => \
                                       housekeep_niwa_xc50_cce_recon_n512_eg_grib2
                                       fcm_make_niwa_xc50_install_ctldata => niwa_xc50_install_ctldata => recon_niwa_xc50_cce_recon_n512_eg_grib2",

     "xc50_ifort_recon_n512_eg_grib2" : "fcm_make_niwa_xc50_ifort_recon_safe_omp => \
                                         recon_niwa_xc50_ifort_recon_n512_eg_grib2 => rose_ana_niwa_xc50_ifort_recon_n512_eg_grib2_kgo => \
                                         housekeep_niwa_xc50_ifort_recon_n512_eg_grib2
                                         fcm_make_niwa_xc50_install_ctldata => niwa_xc50_install_ctldata => recon_niwa_xc50_ifort_recon_n512_eg_grib2",

    "xc50_ifort_createbc_calcs" : "fcm_make_niwa_xc50_install_ctldata => niwa_xc50_install_ctldata
			     
                                   fcm_make_niwa_xc50_ifort_createbc_high_omp & niwa_xc50_install_ctldata => \
                                   createbc_niwa_xc50_ifort_createbc_calcs_global_eg_fixed_eg_2dust6 => \
                                   rose_ana_niwa_xc50_ifort_createbc_calcs_global_eg_fixed_eg_2dust6_kgo => \
                                   housekeep_createbc_niwa_xc50_ifort_createbc_calcs_global_eg_fixed_eg_2dust6
			     
                                   fcm_make_niwa_xc50_ifort_createbc_high_omp & niwa_xc50_install_ctldata => \
                                   createbc_niwa_xc50_ifort_createbc_calcs_global_eg_varres_eg_2dust6 => \
                                   rose_ana_niwa_xc50_ifort_createbc_calcs_global_eg_varres_eg_2dust6_kgo => \
                                   housekeep_createbc_niwa_xc50_ifort_createbc_calcs_global_eg_varres_eg_2dust6
			     
                                   fcm_make_niwa_xc50_ifort_createbc_high_omp & niwa_xc50_install_ctldata => \
                                   createbc_niwa_xc50_ifort_createbc_calcs_fixed_eg_fixed_eg_0dust0 => \
                                   rose_ana_niwa_xc50_ifort_createbc_calcs_fixed_eg_fixed_eg_0dust0_kgo => \
                                   housekeep_createbc_niwa_xc50_ifort_createbc_calcs_fixed_eg_fixed_eg_0dust0
			     
                                   fcm_make_niwa_xc50_ifort_createbc_high_omp & niwa_xc50_install_ctldata => \
                                   createbc_niwa_xc50_ifort_createbc_calcs_varres_eg_fixed_eg_0dust0 => \
                                   rose_ana_niwa_xc50_ifort_createbc_calcs_varres_eg_fixed_eg_0dust0_kgo => \
                                   housekeep_createbc_niwa_xc50_ifort_createbc_calcs_varres_eg_fixed_eg_0dust0
			     
                                   fcm_make_niwa_xc50_ifort_createbc_high_omp & niwa_xc50_install_ctldata => \
                                   createbc_niwa_xc50_ifort_createbc_calcs_global_eg_frame_eg_2dust2 => \
                                   rose_ana_niwa_xc50_ifort_createbc_calcs_global_eg_frame_eg_2dust2_kgo => \
                                   housekeep_createbc_niwa_xc50_ifort_createbc_calcs_global_eg_frame_eg_2dust2
                                   createbc_niwa_xc50_ifort_createbc_calcs_global_eg_frame_eg_2dust2 & \
                                   fcm_make_niwa_xc50_ifort_createbc_high_omp & niwa_xc50_install_ctldata => \
                                   createbc_niwa_xc50_ifort_createbc_calcs_frame_eg_varres_eg_2dust6 => \
                                   rose_ana_niwa_xc50_ifort_createbc_calcs_frame_eg_varres_eg_2dust6_kgo => \
                                   housekeep_createbc_niwa_xc50_ifort_createbc_calcs_frame_eg_varres_eg_2dust6 & \
                                   housekeep_createbc_niwa_xc50_ifort_createbc_calcs_global_eg_frame_eg_2dust2
			     
                                   fcm_make_niwa_xc50_ifort_createbc_high_omp & niwa_xc50_install_ctldata => \
                                   createbc_niwa_xc50_ifort_createbc_calcs_global_eg_fixed_eg_aqumtracer => \
                                   rose_ana_niwa_xc50_ifort_createbc_calcs_global_eg_fixed_eg_aqumtracer_kgo => \
                                   housekeep_createbc_niwa_xc50_ifort_createbc_calcs_global_eg_fixed_eg_aqumtracer
			     
                                   fcm_make_niwa_xc50_ifort_createbc_high_omp & niwa_xc50_install_ctldata => \
                                   createbc_niwa_xc50_ifort_createbc_calcs_varres_eg_frame_eg_0dust0 => \
                                   rose_ana_niwa_xc50_ifort_createbc_calcs_varres_eg_frame_eg_0dust0_kgo => \
                                   housekeep_createbc_niwa_xc50_ifort_createbc_calcs_varres_eg_frame_eg_0dust0
                                   createbc_niwa_xc50_ifort_createbc_calcs_varres_eg_frame_eg_0dust0 & \
                                   fcm_make_niwa_xc50_ifort_createbc_high_omp & niwa_xc50_install_ctldata => \
                                   createbc_niwa_xc50_ifort_createbc_calcs_frame_eg_fixed_eg_0dust0 => \
                                   rose_ana_niwa_xc50_ifort_createbc_calcs_frame_eg_fixed_eg_0dust0_kgo => \
                                   housekeep_createbc_niwa_xc50_ifort_createbc_calcs_frame_eg_fixed_eg_0dust0 & \
                                   housekeep_createbc_niwa_xc50_ifort_createbc_calcs_varres_eg_frame_eg_0dust0
			     
                                   fcm_make_niwa_xc50_ifort_createbc_high_omp & niwa_xc50_install_ctldata => \
                                   createbc_niwa_xc50_ifort_createbc_calcs_global_eg_fixed_eg_timecontrol => \
                                   rose_ana_niwa_xc50_ifort_createbc_calcs_global_eg_fixed_eg_timecontrol_kgo => \
                                   housekeep_createbc_niwa_xc50_ifort_createbc_calcs_global_eg_fixed_eg_timecontrol",

     "fcm_make_xc50_cce_high" : "fcm_make_niwa_xc50_cce_um_high_omp
                                 fcm_make_niwa_xc50_cce_utils_serial_high_omp
                                 fcm_make_niwa_xc50_cce_utils_mpp_high_omp
                                 fcm_make_niwa_xc50_cce_recon_high_omp
                                 fcm_make_niwa_xc50_cce_recon_serial_high_omp
                                 fcm_make_niwa_xc50_cce_createbc_high_omp
                                 fcm_make_niwa_xc50_cce_scm_high_omp
                                 fcm_make_niwa_xc50_cce_libs_high_omp",

     "fcm_make_xc50_ifort_high" : "fcm_make_niwa_xc50_ifort_um_high_omp
                                   fcm_make_niwa_xc50_ifort_utils_serial_high_omp
                                   fcm_make_niwa_xc50_ifort_utils_mpp_high_omp
                                   fcm_make_niwa_xc50_ifort_recon_high_omp
                                   fcm_make_niwa_xc50_ifort_recon_serial_high_omp
                                   fcm_make_niwa_xc50_ifort_createbc_high_omp
                                   fcm_make_niwa_xc50_ifort_scm_high_omp
                                   fcm_make_niwa_xc50_ifort_libs_high_omp",

     "fcm_make_xc50_cce_debug" : "fcm_make_niwa_xc50_cce_um_debug_omp
                                  fcm_make_niwa_xc50_cce_utils_serial_debug_omp
                                  fcm_make_niwa_xc50_cce_utils_mpp_debug_omp
                                  fcm_make_niwa_xc50_cce_recon_debug_omp
                                  fcm_make_niwa_xc50_cce_createbc_debug_omp
                                  fcm_make_niwa_xc50_cce_scm_debug_omp
                                  fcm_make_niwa_xc50_cce_libs_debug_omp",

     "fcm_make_xc50_ifort_debug" : "fcm_make_niwa_xc50_ifort_um_debug_omp
                                    fcm_make_niwa_xc50_ifort_utils_serial_debug_omp
                                    fcm_make_niwa_xc50_ifort_utils_mpp_debug_omp
                                    fcm_make_niwa_xc50_ifort_recon_debug_omp
                                    fcm_make_niwa_xc50_ifort_createbc_debug_omp
                                    fcm_make_niwa_xc50_ifort_scm_debug_omp
                                    fcm_make_niwa_xc50_ifort_libs_debug_omp",

     "fcm_make_xc50_cce_safe" : "fcm_make_niwa_xc50_cce_um_safe_omp
                                 fcm_make_niwa_xc50_cce_utils_serial_safe_omp
                                 fcm_make_niwa_xc50_cce_utils_mpp_safe_omp
                                 fcm_make_niwa_xc50_cce_recon_safe_omp
                                 fcm_make_niwa_xc50_cce_createbc_safe_omp
                                 fcm_make_niwa_xc50_cce_scm_safe_omp
                                 fcm_make_niwa_xc50_cce_libs_safe_omp",

     "fcm_make_xc50_ifort_safe" : "fcm_make_niwa_xc50_ifort_um_safe_omp
                                   fcm_make_niwa_xc50_ifort_utils_serial_safe_omp
                                   fcm_make_niwa_xc50_ifort_utils_mpp_safe_omp
                                   fcm_make_niwa_xc50_ifort_recon_safe_omp
                                   fcm_make_niwa_xc50_ifort_createbc_safe_omp
                                   fcm_make_niwa_xc50_ifort_scm_safe_omp
                                   fcm_make_niwa_xc50_ifort_libs_safe_omp",

     "fcm_make_xc50_cce_rigorous" : "fcm_make_niwa_xc50_cce_um_rigorous_omp
                                     fcm_make_niwa_xc50_cce_utils_serial_rigorous_omp
                                     fcm_make_niwa_xc50_cce_utils_mpp_rigorous_omp
                                     fcm_make_niwa_xc50_cce_recon_rigorous_omp
                                     fcm_make_niwa_xc50_cce_createbc_rigorous_omp
                                     fcm_make_niwa_xc50_cce_scm_rigorous_omp
                                     fcm_make_niwa_xc50_cce_libs_rigorous_omp",

     "fcm_make_xc50_ifort_rigorous" : "fcm_make_niwa_xc50_ifort_um_rigorous_omp
                                       fcm_make_niwa_xc50_ifort_utils_serial_rigorous_omp
                                       fcm_make_niwa_xc50_ifort_utils_mpp_rigorous_omp
                                       fcm_make_niwa_xc50_ifort_recon_rigorous_omp
                                       fcm_make_niwa_xc50_ifort_createbc_rigorous_omp
                                       fcm_make_niwa_xc50_ifort_scm_rigorous_omp
                                       fcm_make_niwa_xc50_ifort_libs_rigorous_omp",

     "install_xc50_cce" : "fcm_make_niwa_xc50_cce_utils_serial_high_omp => niwa_xc50_cce_install_utils
                           fcm_make_niwa_xc50_cce_utils_mpp_high_omp => niwa_xc50_cce_install_utils
                           fcm_make_niwa_xc50_cce_recon_high_omp => niwa_xc50_cce_install_utils
                           fcm_make_niwa_xc50_cce_createbc_high_omp => niwa_xc50_cce_install_utils
                           fcm_make_niwa_xc50_install_ctldata => niwa_xc50_install_ctldata",

     "install_xc50_ifort" : "fcm_make_niwa_xc50_ifort_utils_serial_high_omp => niwa_xc50_ifort_install_utils
                             fcm_make_niwa_xc50_ifort_utils_mpp_high_omp => niwa_xc50_ifort_install_utils
                             fcm_make_niwa_xc50_ifort_recon_high_omp => niwa_xc50_ifort_install_utils
                             fcm_make_niwa_xc50_ifort_createbc_high_omp => niwa_xc50_ifort_install_utils
                             fcm_make_niwa_xc50_install_ctldata => niwa_xc50_install_ctldata",

    "umdp3_check" : "umdp3_checker => housekeep_niwa_xc50_umdp3_checker",

    "ifdef_check" : "ifdef_checker => housekeep_niwa_xc50_ifdef_checker",

     }
-%}
