    # Extract, Mirror
    [[fcm_make_ecmwf_xc30_cce_utils_serial_high_omp]]
        inherit = EXTRACT
        [[[environment]]]
            PREBUILD =
            ROSE_TASK_APP=fcm_make_utils_serial
            OPTIMISATION=high

    # Pre-process, Build
    [[fcm_make2_ecmwf_xc30_cce_utils_serial_high_omp]]
        inherit = XC30_BUILD
        [[[environment]]]
            ROSE_TASK_APP=fcm_make_utils_serial
            OPTIMISATION=high
            PREBUILD =

# UM utils mpp build
    # Extract, Mirror
    [[fcm_make_ecmwf_xc30_cce_utils_mpp_high_omp]]
        inherit = EXTRACT
        [[[environment]]]
            PREBUILD =
            ROSE_TASK_APP=fcm_make_utils_mpp
            OPTIMISATION=high

    # Pre-process, Build
    [[fcm_make2_ecmwf_xc30_cce_utils_mpp_high_omp]]
        inherit = XC30_BUILD
        [[[environment]]]
            ROSE_TASK_APP=fcm_make_utils_mpp
            OPTIMISATION=high
            PREBUILD =

# UM safe no OpenMP for ECMWF

    # Extract, Mirror
    [[fcm_make_ecmwf_xc30_cce_um_safe_noomp]]
        inherit = EXTRACT
        [[[environment]]]
            OPTIMISATION=safe
            ROSE_TASK_APP=fcm_make_um
	    OPENMP=false
            PREBUILD =

    # Pre-process, Build
    [[fcm_make2_ecmwf_xc30_cce_um_safe_noomp]]
        inherit = XC30_BUILD
        [[[environment]]]
            OPTIMISATION=safe
            ROSE_TASK_APP=fcm_make_um
	    OPENMP=false
            PREBUILD =

# CreateBC ifort build:

   [[fcm_make_ecmwf_xc30_ifort_createbc_high_omp]]
        inherit = EXTRACT
        [[[environment]]]
            ROSE_TASK_APP=fcm_make_createbc
            OPTIMISATION=high
            PLATFORM=ecmwf-xc30-ifort
            grib_api_path = {{GRIB_API_XC30_IFORT_ROOT_DIR}}

    [[fcm_make2_ecmwf_xc30_ifort_createbc_high_omp]]
        inherit = XC30_BUILD
        pre-script = """
            module swap PrgEnv-cray PrgEnv-intel
            """
        [[[environment]]]
            ROSE_TASK_APP=fcm_make_createbc
            OPTIMISATION=high
            PLATFORM=ecmwf-xc30-ifort
