include-path = $HERE/inc $HERE/../inc

$extract{?} = extract

$fcflags_level = -O2 -Ovector1 -hfp0 -hflex_mp=strict

include = um-atmos-common.cfg

# Set optimisation flags for pio_byteswap.c for improved performance.
# Best performance on the xc40 is achieved by turning off vectorisation to allow pattern matching to work
build-recon.prop{cc.flags}[um/src/control/c_code/pio_byteswap.c]    = $ccflags -hgnu -hvector0 -hpattern
build-atmos.prop{cc.flags}[um/src/control/c_code/pio_byteswap.c]    = $ccflags -hgnu -hvector0 -hpattern

# Remove optimisation completely for initmean.F90 to allow seasonal means to
# work correctly on the XC40
build-atmos.prop{fc.flags}[um/src/control/top_level/initmean.F90] = $fcflags_common -O0 -Ovector0 -hfp0 -hflex_mp=strict $fcflags_drhook $fcflags_mkl $fcflags_overrides

# Allows AQUM to bit compare between processor decompositions
build-atmos.prop{fc.flags}[um/src/atmosphere/UKCA/ukca_chemco_raq.F90] = $fcflags_common -O0 \
                          -Ovector0 -hfp0 -Onopattern -hflex_mp=strict $fcflags_options $fcflags_overrides

# These cannot be compiled with -hfp0
build-atmos.prop{fc.flags}[um/src/control/top_level/ni_methox.F90] = $fcflags_common $fcflags_level -hfp1 $fcflags_options $fcflags_overrides
build-atmos.prop{fc.flags}[um/src/atmosphere/dynamics/init_vert_damp_mod.F90] = $fcflags_common $fcflags_level -hfp1 $fcflags_options $fcflags_overrides
build-atmos.prop{fc.flags}[um/src/atmosphere/gravity_wave_drag/gw_block.F90] = $fcflags_common $fcflags_level -hfp1 $fcflags_options $fcflags_overrides
build-atmos.prop{fc.flags}[um/src/atmosphere/boundary_layer/excf_nl_9c.F90] = $fcflags_common $fcflags_level -hfp1 $fcflags_options $fcflags_overrides
build-recon.prop{fc.flags}[um/src/utility/qxreconf/rcf_ideal_set_orography_mod.F90] = $fcflags_common $fcflags_level -hfp1 $fcflags_options $fcflags_overrides
