# Dirac Jobs

#
# UM builds
#

# UM safe no OpenMP
    [[fcm_make_uoe_dirac_ifort_um_safe_noomp]]
        inherit = UOE_DIRAC_EXTRACT
        [[[environment]]]
            ROSE_TASK_APP=fcm_make_um
            OPENMP=false
            OPTIMISATION=safe
            DRHOOK=false
            PREBUILD =

# UM safe no OpenMP
    [[fcm_make2_uoe_dirac_ifort_um_safe_noomp]]
        inherit = UOE_DIRAC_BUILD
        [[[environment]]]
            ROSE_TASK_APP=fcm_make_um
            OPENMP=false
            OPTIMISATION=safe
            DRHOOK=false
            PREBUILD =
            ROSE_TASK_N_JOBS = 8

# N48 no OpenMP

    # Reconfiguration
    [[recon_uoe_dirac_n48_noomp]]
        inherit = UOE_DIRAC_RECON, UM_N48_EG, RECON_MPI, RECON_1x1
        [[[environment]]]
            ASTART=../recon_uoe_dirac_n48_noomp/atmos.astart
        [[[directives]]]
            -q = devel
            -l = 'nodes=1:ppn=1,walltime=00:10:00'
            -A = dp015

    # Atmosphere Model Run 1x4
    [[atmos_uoe_dirac_n48_noomp_1x4]]
        inherit = UOE_DIRAC_ATMOS, UM_N48_EG, ATMOS_MPI, ATMOS_1x4, IOS_0
        [[[environment]]]
            ASTART=../recon_uoe_dirac_n48_noomp/atmos.astart
        [[[directives]]]
            -q = devel
            -l = 'nodes=1:ppn=4,walltime=00:10:00'
            -A = dp015

    # Atmosphere Model Run 4x4
    [[atmos_uoe_dirac_n48_noomp_4x4]]
        inherit = UOE_DIRAC_ATMOS, UM_N48_EG, ATMOS_MPI, ATMOS_4x4, IOS_0
        [[[environment]]]
            ASTART=../recon_uoe_dirac_n48_noomp/atmos.astart
        [[[directives]]]
            -q = devel
            -l = 'nodes=2:ppn=8,walltime=00:10:00'
      	    -A = dp015

    # Comparison tasks
    [[rose_ana_uoe_dirac_n48_noomp_atmos_kgo]]
        inherit = ROSE_ANA_COMPARISON, UOE_DIRAC, ROSE_ANA_N48_EG
        [[[environment]]]
            DIR0={{KGO_DIRAC_ROOT_DIR}}/uoe_dirac_n48/{{DIRAC_N48_EG_KGO}}
            DIR1=../atmos_uoe_dirac_n48_noomp_4x4
            KGO=0
        [[[job]]]
            batch system = background
        [[[remote]]]
            host = leicester.dirac.ac.uk

    [[rose_ana_uoe_dirac_n48_noomp_recon_kgo]]
        inherit = ROSE_ANA_COMPARISON, UOE_DIRAC, ROSE_ANA_RECON
        [[[environment]]]
            DIR0={{KGO_DIRAC_ROOT_DIR}}/uoe_dirac_n48/{{DIRAC_N48_EG_KGO}}
            DIR1=../recon_uoe_dirac_n48_noomp
            KGO=0
        [[[job]]]
            batch system = background
        [[[remote]]]
            host = leicester.dirac.ac.uk

    # Housekeeping
    [[housekeep_atmos_uoe_dirac_n48_noomp_4x4]]
        inherit = HOUSEKEEPING, UOE_DIRAC
        [[[environment]]]
            RUNDIR=../atmos_uoe_dirac_n48_noomp_4x4
        [[[job]]]
            batch system = background
        [[[remote]]]
            host = leicester.dirac.ac.uk
