{%- set integ_graphs_xc40 = {

    "meto_xc40_pws_diag_test" : "",

    "meto_xc40_n48_eg_free_tracers" : "",

    "meto_xc40_n48_eg_screen_dch" : "",

    "meto_xc40_mogreps_g_eg"  :
                          "gatekeeper_fcm_make_meto_xc40_cce_um_safe_omp => fcm_make_meto_xc40_cce_um_safe_omp => \
                           atmos_meto_xc40_mogreps_g_eg_reprod_6x36 & atmos_meto_xc40_mogreps_g_eg_reprod_12x18 & recon_meto_xc40_mogreps_g_eg_2x4
                           fcm_make_meto_xc40_install_ctldata => fcm_make2_meto_xc40_install_ctldata => meto_xc40_install_ctldata => \
                           recon_meto_xc40_mogreps_g_eg_2x4
                           recon_meto_xc40_mogreps_g_eg => atmos_meto_xc40_mogreps_g_eg_reprod_6x36 & atmos_meto_xc40_mogreps_g_eg_reprod_12x18 => \
                           rose_ana_meto_xc40_mogreps_g_eg_atmos_proc
                           recon_meto_xc40_mogreps_g_eg_2x4 & recon_meto_xc40_mogreps_g_eg => rose_ana_meto_xc40_mogreps_g_eg_recon_proc",

    "meto_xc40_mogreps_g_exp_eg"  :
                          "gatekeeper_fcm_make_meto_xc40_cce_um_safe_omp => fcm_make_meto_xc40_cce_um_safe_omp => \
                           atmos_meto_xc40_mogreps_g_exp_eg_reprod_6x36 & atmos_meto_xc40_mogreps_g_exp_eg_reprod_12x18 & recon_meto_xc40_mogreps_g_exp_eg_2x4
                           fcm_make_meto_xc40_install_ctldata => fcm_make2_meto_xc40_install_ctldata => meto_xc40_install_ctldata => \
                           recon_meto_xc40_mogreps_g_exp_eg_2x4
                           recon_meto_xc40_mogreps_g_exp_eg => atmos_meto_xc40_mogreps_g_exp_eg_reprod_6x36 & atmos_meto_xc40_mogreps_g_exp_eg_reprod_12x18 => \
                           rose_ana_meto_xc40_mogreps_g_exp_eg_atmos_proc
                           recon_meto_xc40_mogreps_g_exp_eg_2x4 & recon_meto_xc40_mogreps_g_exp_eg => rose_ana_meto_xc40_mogreps_g_exp_eg_recon_proc",

    "meto_xc40_ukca_eg_strattrop"  :  "",

    "meto_xc40_ukca_eg_strattrop_safe"  :  "",

    "meto_xc40_ukca_eg_strattrop_columns"  :  "",

    "meto_xc40_ukca_eg_strattrop_columns_safe"  :  "",

    "meto_xc40_ukca_eg_strattrop_columns_safe_noomp"  :  "",

    "meto_xc40_n96_glomap_clim"  :  "",

    "meto_xc40_n48_glomap_clim"  :  "",

    "meto_xc40_n48_glomap_clim_comp_check"  :  "",

    "meto_xc40_ukca_nudged"  :  "",

    "meto_xc40_n48_ukca_eg_omp_noios_gnu"  :  "fcm_make_meto_xc40_gnu_um_safe_omp  => \
                           recon_meto_xc40_n48_ukca_eg_omp_noios_gnu_2x1 => atmos_meto_xc40_n48_ukca_eg_omp_noios_gnu_8x2
			   recon_meto_xc40_n48_ukca_eg_omp_noios_gnu_2x1 & recon_meto_xc40_n48_ukca_eg_omp_noios_gnu_1x2 => \
			   rose_ana_meto_xc40_n48_ukca_eg_omp_noios_gnu_recon_proc
			   atmos_meto_xc40_n48_ukca_eg_omp_noios_gnu_8x2 & atmos_meto_xc40_n48_ukca_eg_omp_noios_gnu_4x4 => \
			   rose_ana_meto_xc40_n48_ukca_eg_omp_noios_gnu_atmos_proc
			   meto_xc40_install_ctldata => recon_meto_xc40_n48_ukca_eg_omp_noios_gnu_2x1",

    "meto_xc40_n48_ukca_eg_omp_noios_gnu_comp_check"  :  "fcm_make_meto_xc40_gnu_um_rigorous_omp  => \
                           recon_meto_xc40_n48_ukca_eg_omp_noios_gnu_comp_check_2x1 => atmos_meto_xc40_n48_ukca_eg_omp_noios_gnu_comp_check_8x2
			   recon_meto_xc40_n48_ukca_eg_omp_noios_gnu_comp_check_2x1 & recon_meto_xc40_n48_ukca_eg_omp_noios_gnu_comp_check_1x2 => \
			   rose_ana_meto_xc40_n48_ukca_eg_omp_noios_gnu_comp_check_recon_proc
			   atmos_meto_xc40_n48_ukca_eg_omp_noios_gnu_comp_check_8x2 & atmos_meto_xc40_n48_ukca_eg_omp_noios_gnu_comp_check_4x4 => \
			   rose_ana_meto_xc40_n48_ukca_eg_omp_noios_gnu_comp_check_atmos_proc
			   meto_xc40_install_ctldata => recon_meto_xc40_n48_ukca_eg_omp_noios_gnu_comp_check_2x1",

    "meto_xc40_n48_ukca_eg_noomp_gnu"  :  "fcm_make_meto_xc40_gnu_um_safe_noomp  => \
                           recon_meto_xc40_n48_ukca_eg_noomp_gnu_2x1 => atmos_meto_xc40_n48_ukca_eg_noomp_gnu_8x2
			   recon_meto_xc40_n48_ukca_eg_noomp_gnu_2x1 & recon_meto_xc40_n48_ukca_eg_noomp_gnu_1x2 => \
			   rose_ana_meto_xc40_n48_ukca_eg_noomp_gnu_recon_proc
			   atmos_meto_xc40_n48_ukca_eg_noomp_gnu_8x2 & atmos_meto_xc40_n48_ukca_eg_noomp_gnu_4x4 => \
			   rose_ana_meto_xc40_n48_ukca_eg_noomp_gnu_atmos_proc
			   meto_xc40_install_ctldata => recon_meto_xc40_n48_ukca_eg_noomp_gnu_2x1",

    "meto_xc40_mogreps_uk_eg" : "",

    "meto_xc40_mogreps_uk_exp_eg" : "",

    "meto_xc40_n216_ga6p1_glu"  :
                          "gatekeeper_fcm_make_meto_xc40_cce_um_fast_omp => fcm_make_meto_xc40_cce_um_fast_omp => \
                           recon_meto_xc40_n216_ga6p1_glu => \
                           atmos_meto_xc40_n216_ga6p1_glu_reprod_6x36 & atmos_meto_xc40_n216_ga6p1_glu_reprod_12x18
                           gatekeeper_fcm_make_meto_xc40_cce_um_safe_omp => fcm_make_meto_xc40_cce_um_safe_omp => \
                           atmos_meto_xc40_n216_ga6p1_glu_reprod_6x36 & atmos_meto_xc40_n216_ga6p1_glu_reprod_12x18 => \
                           rose_ana_meto_xc40_n216_ga6p1_glu_atmos_proc",

    "meto_xc40_n216_ga6p1_glu_4diau"  :
                          "gatekeeper_fcm_make_meto_xc40_cce_um_fast_omp => fcm_make_meto_xc40_cce_um_fast_omp => \
                           recon_meto_xc40_n216_ga6p1_glu_4diau => \
                           atmos_meto_xc40_n216_ga6p1_glu_4diau_reprod_6x36 & atmos_meto_xc40_n216_ga6p1_glu_4diau_reprod_12x18
                           gatekeeper_fcm_make_meto_xc40_cce_um_safe_omp => fcm_make_meto_xc40_cce_um_safe_omp => \
                           atmos_meto_xc40_n216_ga6p1_glu_4diau_reprod_6x36 & atmos_meto_xc40_n216_ga6p1_glu_4diau_reprod_12x18 => \
                           rose_ana_meto_xc40_n216_ga6p1_glu_4diau_atmos_proc",

    "meto_xc40_euro4_eg"  :        "",

    "meto_xc40_aqum_eg"  :
                          "recon_meto_xc40_aqum_eg => atmos_meto_xc40_aqum_eg_8x1 => rose_ana_meto_xc40_aqum_eg_atmos_proc81
                           recon_meto_xc40_aqum_eg => atmos_meto_xc40_aqum_eg_1x8 => rose_ana_meto_xc40_aqum_eg_atmos_proc18
                           atmos_meto_xc40_aqum_eg_4x9 => rose_ana_meto_xc40_aqum_eg_atmos_proc81 & rose_ana_meto_xc40_aqum_eg_atmos_proc18",

    "meto_xc40_aqum_eg_glomap" : 
                          "recon_meto_xc40_aqum_eg_glomap => atmos_meto_xc40_aqum_eg_glomap_8x1 => rose_ana_meto_xc40_aqum_eg_glomap_atmos_proc81
                           recon_meto_xc40_aqum_eg_glomap => atmos_meto_xc40_aqum_eg_glomap_1x8 => rose_ana_meto_xc40_aqum_eg_glomap_atmos_proc18
                           atmos_meto_xc40_aqum_eg_glomap_4x9 => rose_ana_meto_xc40_aqum_eg_glomap_atmos_proc81 & rose_ana_meto_xc40_aqum_eg_glomap_atmos_proc18",

    "meto_xc40_aqum_eg_iau"  :
                          "recon_meto_xc40_aqum_eg_iau => atmos_meto_xc40_aqum_eg_iau_8x1 => rose_ana_meto_xc40_aqum_eg_iau_atmos_proc81
                           recon_meto_xc40_aqum_eg_iau => atmos_meto_xc40_aqum_eg_iau_1x8 => rose_ana_meto_xc40_aqum_eg_iau_atmos_proc18
                           atmos_meto_xc40_aqum_eg_iau_4x9 => rose_ana_meto_xc40_aqum_eg_iau_atmos_proc81 & rose_ana_meto_xc40_aqum_eg_iau_atmos_proc18",

    "meto_xc40_aqum_eg_comp_check" : "",

    "meto_xc40_aqum_eg_glomap_comp_check" : "",

    "meto_xc40_ukv1p5_eg_noda"  : "",

    "meto_xc40_ukv1p5_eg_da"  : "",

    "meto_xc40_ukv1p5_exp"  : "",

    "meto_xc40_seukv_eg"  : 
                          "gatekeeper_fcm_make_meto_xc40_cce_um_fast_omp => fcm_make_meto_xc40_cce_um_fast_omp => \
                           recon_meto_xc40_seukv_eg => \
                           atmos_meto_xc40_seukv_eg_reprod_4x9 & atmos_meto_xc40_seukv_eg_reprod_6x6
                           gatekeeper_fcm_make_meto_xc40_cce_um_safe_omp => fcm_make_meto_xc40_cce_um_safe_omp => \
                           atmos_meto_xc40_seukv_eg_reprod_4x9 & atmos_meto_xc40_seukv_eg_reprod_6x6 => \
                           rose_ana_meto_xc40_seukv_eg_atmos_proc",

    "meto_xc40_seukv_eg_casim"  :     "",

    "meto_xc40_seukv_eg_casim_comp_check"  :  "",

    "meto_xc40_seukv_eg_drhook"  :     "",

    "meto_xc40_seukv_eg_urban1t"  :     "",

    "meto_xc40_seukv_eg_comp_check"  :     "",

    "meto_xc40_seukv_eg_noda" : "",

    "meto_xc40_seukv_eg_noda_urban1t" : "",

    "meto_xc40_idealised_exo_iso_hd209"  :
                          "fcm_make_meto_xc40_cce_um_safe_omp & meto_xc40_install_ctldata => \
                           recon_meto_xc40_idealised_exo_iso_hd209_1x2 => rose_ana_meto_xc40_idealised_exo_iso_hd209_recon_proc
                           recon_meto_xc40_idealised_exo_iso_hd209_2x1 => rose_ana_meto_xc40_idealised_exo_iso_hd209_recon_proc
                           recon_meto_xc40_idealised_exo_iso_hd209_2x1 => atmos_meto_xc40_idealised_exo_iso_hd209_8x2 => \
                           rose_ana_meto_xc40_idealised_exo_iso_hd209_atmos_proc
                           atmos_meto_xc40_idealised_exo_iso_hd209_4x4 => rose_ana_meto_xc40_idealised_exo_iso_hd209_atmos_proc",

    "meto_xc40_idealised_exo_shj"  :
                          "fcm_make_meto_xc40_cce_um_safe_omp & meto_xc40_install_ctldata => \
                           recon_meto_xc40_idealised_exo_shj_1x2 => rose_ana_meto_xc40_idealised_exo_shj_recon_proc
                           recon_meto_xc40_idealised_exo_shj_2x1 => rose_ana_meto_xc40_idealised_exo_shj_recon_proc
                           recon_meto_xc40_idealised_exo_shj_2x1 => atmos_meto_xc40_idealised_exo_shj_8x2 => \
                           rose_ana_meto_xc40_idealised_exo_shj_atmos_proc
                           atmos_meto_xc40_idealised_exo_shj_4x4 => rose_ana_meto_xc40_idealised_exo_shj_atmos_proc",

    "meto_xc40_idealised_exo_el_rt"  :
                          "fcm_make_meto_xc40_cce_um_safe_omp & meto_xc40_install_ctldata => \
                           recon_meto_xc40_idealised_exo_el_rt_1x2 => rose_ana_meto_xc40_idealised_exo_el_rt_recon_proc
                           recon_meto_xc40_idealised_exo_el_rt_2x1 => rose_ana_meto_xc40_idealised_exo_el_rt_recon_proc
                           recon_meto_xc40_idealised_exo_el_rt_2x1 => atmos_meto_xc40_idealised_exo_el_rt_8x2 => \
                           rose_ana_meto_xc40_idealised_exo_el_rt_atmos_proc
                           atmos_meto_xc40_idealised_exo_el_rt_4x4 => rose_ana_meto_xc40_idealised_exo_el_rt_atmos_proc",

    "meto_xc40_idealised_bicyclic_lam_rce" : "",

    "meto_xc40_idealised_bicyclic_lam_bomex" : "",

    "meto_xc40_idealised_bicyclic_lam_dry2dpl" : "",

    "meto_xc40_idealised_bicyclic_lam_rce_gnu" : "",

    "meto_xc40_n48_ga7_amip_2day" :   "",

    "meto_xc40_n48_ga7_amip_2day_nrchem" :   "recon_meto_xc40_n48_ga7_amip_2day_nrchem_2x4 => atmos_meto_xc40_n48_ga7_amip_2day_nrchem_6x6
                                              atmos_meto_xc40_n48_ga7_amip_2day_nrchem_6x6 & atmos_meto_xc40_n48_ga7_amip_2day_nrchem_4x9 => \
                                              rose_ana_meto_xc40_n48_ga7_amip_2day_nrchem_atmos_proc",

    "meto_xc40_n48_ga7_amip_naming": "",

    "meto_xc40_n48_ga7_amip_2day_comp_check" :   "",

    "meto_xc40_n48_ga7_amip_10day" :   "",

    "meto_xc40_n48_ga7_amip_30day" :   "",

    "meto_xc40_n48_ga_amip_exp_2day" :   "",

    "meto_xc40_n48_ga_amip_exp_2day_nrchem" :   "recon_meto_xc40_n48_ga_amip_exp_2day_nrchem_2x4 => atmos_meto_xc40_n48_ga_amip_exp_2day_nrchem_6x6
                                                 atmos_meto_xc40_n48_ga_amip_exp_2day_nrchem_6x6 & atmos_meto_xc40_n48_ga_amip_exp_2day_nrchem_4x9 => \
                                                 rose_ana_meto_xc40_n48_ga_amip_exp_2day_nrchem_atmos_proc",

    "meto_xc40_n48_ga_amip_exp_naming": "",

    "meto_xc40_n48_ga_amip_exp_2day_comp_check" :   "",

    "meto_xc40_n48_ga_amip_exp_10day" :   "",

    "meto_xc40_n48_ga_amip_exp_30day" :   "",

    "meto_xc40_n96_triffid_eg" :  "",

    "meto_xc40_n96_triffid_eg_2day" :  
                          "recon_meto_xc40_n96_triffid_eg_2day => atmos_meto_xc40_n96_triffid_eg_2day_16x9 => \
                           rose_ana_meto_xc40_n96_triffid_eg_2day_atmos_proc
                           atmos_meto_xc40_n96_triffid_eg_2day_12x9 => rose_ana_meto_xc40_n96_triffid_eg_2day_atmos_proc",
                                                    
    "meto_xc40_n96_triffid_esm_eg" :  "",

    "meto_xc40_n512_eg"  :      "",

    "meto_xc40_n96_amip_eg"   : "",

    "meto_xc40_n96_amip_eg_fvtrack"   : "",

    "meto_xc40_n96_eg_dyntracers"   : "",
    
    "meto_xc40_n96_amip_eg_drhook" : "",

    "meto_xc40_n96_orca025_mct_technical_gc3" : "",

    "meto_xc40_n96_orca1_mct_ukesm" : "",

    "meto_xc40_n48_eg_omp_ios": "",

    "meto_xc40_n48_eg_omp_atmos_1_thread_ios_2_thread" : "",

    "meto_xc40_n48_eg_omp_ios_ifort" : "",

    "meto_xc40_n48_eg_omp_ios_gnu" : "",

    "meto_xc40_n48_eg_omp_ios_gnu_comp_check" : "",

    "meto_xc40_n48_eg_omp_ios_comp_check" : "",

    "meto_xc40_n48_eg_omp_noios"    : "",

    "meto_xc40_n48_eg_noomp"    : "",

    "meto_xc40_n48_eg_omp_noios_drhook" : "",

    "meto_xc40_n48_eg_omp_ios_moruses":  "",

    "meto_xc40_seukf_tkebl"  :
                          "atmos_meto_xc40_seukf_tkebl_4x9 => rose_ana_meto_xc40_seukf_tkebl_atmos_proc
                           recon_meto_xc40_seukf_tkebl => atmos_meto_xc40_seukf_tkebl_6x6 => \
                           rose_ana_meto_xc40_seukf_tkebl_atmos_proc",

    "meto_xc40_recon_n108_nd_var_area_weight" : "",

    "meto_xc40_recon_n108_nd_interp_all_fields" : "",

    "meto_xc40_recon_n216_eg_interp_all_fields_basic" :
                          "fcm_make_meto_xc40_cce_recon_safe_omp => \
                           recon_meto_xc40_recon_n216_eg_interp_all_fields_basic_4x1 & recon_meto_xc40_recon_n216_eg_interp_all_fields_basic_1x4 => \
                           rose_ana_meto_xc40_recon_n216_eg_interp_all_fields_basic_proc
                           meto_xc40_install_ctldata => recon_meto_xc40_recon_n216_eg_interp_all_fields_basic_4x1",

    "meto_xc40_recon_n216_eg_interp_all_fields_basic_nogrib" : "",

    "meto_xc40_recon_n216_eg_select_fields_from_namelist" :
                          "fcm_make_meto_xc40_cce_recon_safe_omp => \
                           recon_meto_xc40_recon_n216_eg_select_fields_from_namelist_4x1 & recon_meto_xc40_recon_n216_eg_select_fields_from_namelist_1x4 => \
                           rose_ana_meto_xc40_recon_n216_eg_select_fields_from_namelist_proc
                           meto_xc40_install_ctldata => recon_meto_xc40_recon_n216_eg_select_fields_from_namelist_4x1",

    "meto_xc40_recon_n216_eg_init_mlsnow" :
                          "fcm_make_meto_xc40_cce_recon_safe_omp => \
                           recon_meto_xc40_recon_n216_eg_init_mlsnow_4x1 & recon_meto_xc40_recon_n216_eg_init_mlsnow_1x4 => \
                           rose_ana_meto_xc40_recon_n216_eg_init_mlsnow_proc
                           meto_xc40_install_ctldata => recon_meto_xc40_recon_n216_eg_init_mlsnow_4x1",

    "meto_xc40_recon_n320_n320_mlsnow" :
                          "fcm_make_meto_xc40_cce_recon_safe_omp => \
                           recon_meto_xc40_recon_n320_n320_mlsnow_4x1 & recon_meto_xc40_recon_n320_n320_mlsnow_1x4 => \
                           rose_ana_meto_xc40_recon_n320_n320_mlsnow_proc
                           meto_xc40_install_ctldata => recon_meto_xc40_recon_n320_n320_mlsnow_4x1",

    "meto_xc40_recon_n320_n320_mlsnow_mirror" : "",

    "meto_xc40_recon_n320_n320frc_mlsnow" :
                          "fcm_make_meto_xc40_cce_recon_safe_omp => \
                           recon_meto_xc40_recon_n320_n320frc_mlsnow_4x1 & recon_meto_xc40_recon_n320_n320frc_mlsnow_1x4 => \
                           rose_ana_meto_xc40_recon_n320_n320frc_mlsnow_proc
                           meto_xc40_install_ctldata => recon_meto_xc40_recon_n320_n320frc_mlsnow_4x1",

    "meto_xc40_recon_n320_n3201t_mlsnow" :
                          "fcm_make_meto_xc40_cce_recon_safe_omp => \
                           recon_meto_xc40_recon_n320_n3201t_mlsnow_4x1 & recon_meto_xc40_recon_n320_n3201t_mlsnow_1x4 => \
                           rose_ana_meto_xc40_recon_n320_n3201t_mlsnow_proc
                           meto_xc40_install_ctldata => recon_meto_xc40_recon_n320_n3201t_mlsnow_4x1",

    "meto_xc40_recon_n320_n216_mlsnow" :
                          "fcm_make_meto_xc40_cce_recon_safe_omp => \
                           recon_meto_xc40_recon_n320_n216_mlsnow_4x1 & recon_meto_xc40_recon_n320_n216_mlsnow_1x4 => \
                           rose_ana_meto_xc40_recon_n320_n216_mlsnow_proc
                           meto_xc40_install_ctldata => recon_meto_xc40_recon_n320_n216_mlsnow_4x1",

    "meto_xc40_recon_n320_n512_mlsnow" :
                          "fcm_make_meto_xc40_cce_recon_safe_omp => \
                           recon_meto_xc40_recon_n320_n512_mlsnow_4x1 & recon_meto_xc40_recon_n320_n512_mlsnow_1x4 => \
                           rose_ana_meto_xc40_recon_n320_n512_mlsnow_proc
                           meto_xc40_install_ctldata => recon_meto_xc40_recon_n320_n512_mlsnow_4x1",

    "meto_xc40_recon_n320_n216zsl_mlsnow" :
                          "fcm_make_meto_xc40_cce_recon_safe_omp => \
                           recon_meto_xc40_recon_n320_n216zsl_mlsnow_4x1 & recon_meto_xc40_recon_n320_n216zsl_mlsnow_1x4 => \
                           rose_ana_meto_xc40_recon_n320_n216zsl_mlsnow_proc
                           meto_xc40_install_ctldata => recon_meto_xc40_recon_n320_n216zsl_mlsnow_4x1",

    "meto_xc40_recon_n320_n320sl7_mlsnow" :
                          "fcm_make_meto_xc40_cce_recon_safe_omp => \
                           recon_meto_xc40_recon_n320_n320sl7_mlsnow_4x1 & recon_meto_xc40_recon_n320_n320sl7_mlsnow_1x4 => \
                           rose_ana_meto_xc40_recon_n320_n320sl7_mlsnow_proc
                           meto_xc40_install_ctldata => recon_meto_xc40_recon_n320_n320sl7_mlsnow_4x1",

    "meto_xc40_recon_n512_nd_grib1":
                          "fcm_make_meto_xc40_cce_recon_safe_omp => \
                           recon_meto_xc40_recon_n512_nd_grib1_2x4 & recon_meto_xc40_recon_n512_nd_grib1_4x2 => \
                           rose_ana_meto_xc40_recon_n512_nd_grib1_proc
                           meto_xc40_install_ctldata => recon_meto_xc40_recon_n512_nd_grib1_2x4",

    "meto_xc40_recon_n512_nd_grib2":
                          "fcm_make_meto_xc40_cce_recon_safe_omp => \
                           recon_meto_xc40_recon_n512_nd_grib2_2x4 & recon_meto_xc40_recon_n512_nd_grib2_4x2 => \
                           rose_ana_meto_xc40_recon_n512_nd_grib2_proc
                           meto_xc40_install_ctldata => recon_meto_xc40_recon_n512_nd_grib2_2x4",

    "meto_xc40_recon_n512_eg_grib1":
                          "fcm_make_meto_xc40_cce_recon_safe_omp => \
                           recon_meto_xc40_recon_n512_eg_grib1_2x4 & recon_meto_xc40_recon_n512_eg_grib1_4x2 => \
                           rose_ana_meto_xc40_recon_n512_eg_grib1_proc
                           meto_xc40_install_ctldata => recon_meto_xc40_recon_n512_eg_grib1_2x4",

    "meto_xc40_recon_n512_eg_grib2":
                          "fcm_make_meto_xc40_cce_recon_safe_omp => \
                           recon_meto_xc40_recon_n512_eg_grib2_2x4 & recon_meto_xc40_recon_n512_eg_grib2_4x2 => \
                           rose_ana_meto_xc40_recon_n512_eg_grib2_proc
                           meto_xc40_install_ctldata => recon_meto_xc40_recon_n512_eg_grib2_2x4",

    "meto_xc40_recon_n96_nd_init_prog_ancil":
                          "fcm_make_meto_xc40_cce_recon_safe_omp => \
                           recon_meto_xc40_recon_n96_nd_init_prog_ancil_2x2 & recon_meto_xc40_recon_n96_nd_init_prog_ancil_1x4 => \
                           rose_ana_meto_xc40_recon_n96_nd_init_prog_ancil_proc
                           meto_xc40_install_ctldata => recon_meto_xc40_recon_n96_nd_init_prog_ancil_2x2",

    "meto_xc40_recon_LAM_fix_to_var_res":
                          "fcm_make_meto_xc40_cce_recon_safe_omp => \
                           recon_meto_xc40_recon_LAM_fix_to_var_res_4x2 & recon_meto_xc40_recon_LAM_fix_to_var_res_2x4 => \
                           rose_ana_meto_xc40_recon_LAM_fix_to_var_res_proc
                           meto_xc40_install_ctldata => recon_meto_xc40_recon_LAM_fix_to_var_res_4x2",

    "meto_xc40_recon_LAM_fix_to_fix_res":
                          "fcm_make_meto_xc40_cce_recon_safe_omp => \
                           recon_meto_xc40_recon_LAM_fix_to_fix_res_4x2 & recon_meto_xc40_recon_LAM_fix_to_fix_res_2x4 => \
                           rose_ana_meto_xc40_recon_LAM_fix_to_fix_res_proc
                           meto_xc40_install_ctldata => recon_meto_xc40_recon_LAM_fix_to_fix_res_4x2",

    "meto_xc40_recon_LAM_var_to_fix_res":
                          "fcm_make_meto_xc40_cce_recon_safe_omp => \
                           recon_meto_xc40_recon_LAM_var_to_fix_res_4x2 & recon_meto_xc40_recon_LAM_var_to_fix_res_2x4 => \
                           rose_ana_meto_xc40_recon_LAM_var_to_fix_res_proc
                           meto_xc40_install_ctldata => recon_meto_xc40_recon_LAM_var_to_fix_res_4x2",

    "meto_xc40_recon_LAM_var_to_var_res":
                          "fcm_make_meto_xc40_cce_recon_safe_omp => \
                           recon_meto_xc40_recon_LAM_var_to_var_res_4x2 & recon_meto_xc40_recon_LAM_var_to_var_res_2x4 => \
                           rose_ana_meto_xc40_recon_LAM_var_to_var_res_proc
                           meto_xc40_install_ctldata => recon_meto_xc40_recon_LAM_var_to_var_res_4x2",

    "meto_xc40_recon_n48_nd_2D_CCA_trans_bilinear":
                          "fcm_make_meto_xc40_cce_recon_safe_omp => \
                           recon_meto_xc40_recon_n48_nd_2D_CCA_trans_bilinear_2x2 & recon_meto_xc40_recon_n48_nd_2D_CCA_trans_bilinear_1x4 => \
                           rose_ana_meto_xc40_recon_n48_nd_2D_CCA_trans_bilinear_proc
                           meto_xc40_install_ctldata => recon_meto_xc40_recon_n48_nd_2D_CCA_trans_bilinear_2x2",

    "meto_xc40_recon_lam_from_grib_cutout":
                          "fcm_make_meto_xc40_cce_recon_safe_omp => \
                           recon_meto_xc40_recon_lam_from_grib_cutout_2x2 & recon_meto_xc40_recon_lam_from_grib_cutout_1x4 => \
                           rose_ana_meto_xc40_recon_lam_from_grib_cutout_proc
                           meto_xc40_install_ctldata => recon_meto_xc40_recon_lam_from_grib_cutout_1x4",

    "meto_xc40_recon_nearest_neighbour_nz":
                          "fcm_make_meto_xc40_cce_recon_safe_omp => \
                           recon_meto_xc40_recon_nearest_neighbour_nz_4x1 & recon_meto_xc40_recon_nearest_neighbour_nz_1x4 => \
                           rose_ana_meto_xc40_recon_nearest_neighbour_nz_proc
                           meto_xc40_install_ctldata => recon_meto_xc40_recon_nearest_neighbour_nz_4x1",

    "meto_xc40_scm_togacoare_ga6_omp"  :   "",

    "meto_xc40_scm_togacoare_ga6_noomp"  :   "",

    "meto_xc40_scm_togacoare_ga6_gnu_omp" : "",

    "meto_xc40_scm_togacoare_ga6_gnu_noomp" : "",

    "meto_xc40_scm_gabls3_ga6_omp"  :   "",

    "meto_xc40_scm_gabls3_ga6_noomp"  :   "",
    
    "meto_xc40_scm_gabls3_ga6_gnu_omp"  :   "",

    "meto_xc40_scm_gabls3_ga6_gnu_noomp"  :   "",    

    "meto_xc40_ifort_createbc_calcs" : "",

    "meto_xc40_cce_createbc_calcs" : "",

    "meto_xc40_cce_createbc_calcs_drhook" : "",

    "meto_xc40_vomext_calcs" : "",

    "meto_xc40_convpp_calcs" : "",

    "meto_xc40_pptoanc_calcs" : "",
     
    "meto_xc40_crmstyle_coarse_grid" : "",

    "meto_xc40_global_to_lam_eg" : "",

    "meto_xc40_gnu_um_standards" : "",

    "meto_xc40_gnu_um_single_standards" : "",

    "meto_xc40_gnu_recon_serial_standards" : "",

    "meto_xc40_gnu_scm_standards" : "",

    "meto_xc40_gnu_createbc_standards" : "",

    "meto_xc40_gnu_utils_serial_standards" : "",

    "meto_xc40_gnu_utils_mpp_standards" : "",

    "meto_xc40_gnu_libs_standards" : "",

    "monitor_xc40_tasks"   : "",

    }
-%}
