{%- set UMDIR = '$UMDIR' %}

{% if LOCAL_BUILD is not defined %}
  {%- set LOCAL_BUILD=false %}
{% endif %}

{% if LOCAL_RUN is not defined %}
  {%- set LOCAL_RUN=false %}
{% endif %}

{%- set GRIB_API_LINUX_ROOT_DIR='/home/h01/frum/lib/ifort-16.0.1-gcc-4.4.7/grib_api/grib_api-1.23.1' %}
{%- set GRIB_API_XC40_CCE_ROOT_DIR='/projects/um1/lib/cce-8.3.4/grib_api/grib_api-1.26.0/ivybridge' %}
{%- set GRIB_API_XC40_GNU_ROOT_DIR='/projects/um1/lib/gnu-6.3.0/grib_api/grib_api-1.26.0/ivybridge' %}
{%- set GRIB_API_XC40_IFORT_ROOT_DIR='/projects/um1/lib/intel-17.0.0/grib_api/grib_api-1.26.0/ivybridge' %}

{% if 'TRUSTZONE' in environ %}
  {%- set TRUSTZONE=environ['TRUSTZONE'] %}
{%- else %}
  {%- set TRUSTZONE='research' %}
{%- endif %}

{% if HOST_XC40 is not defined %}
  {%- if TRUSTZONE == 'collaboration' %}
    {%- set HOST_XC40='xcsc' %}
  {% else %}
    {%- set HOST_XC40='xc' %}
  {%- endif %}
{%- endif %}

{%- set KGO_LINUX_ROOT_DIR='/home/h01/frum/standard_jobs/kgo' %}
{%- set KGO_XC40_ROOT_DIR='/projects/um1/standard_jobs/kgo' %}

{%- if PREBUILD_LINUX_ROOT_DIR is not defined %}
  {%- set PREBUILD_LINUX_ROOT_DIR='/home/h01/frum/cylc-run/vn11.1_prebuilds/share' %}
{%- endif %}

{%- if PREBUILD_XC40_ROOT_DIR is not defined %}
  {%- set PREBUILD_XC40_ROOT_DIR='/home/d05/frum/cylc-run/vn11.1_prebuilds/share' %}
{%- endif %}

{%- if QOS is not defined %}
  {%- set QOS='normal' %}
{%- endif %}

{%- set LINUX_AQUM_EG_KGO='vn11.1' %}
{%- set LINUX_AQUM_EG_GLOMAP_KGO='vn11.1' %}
{%- set LINUX_CENTRAL_INSTALL_DIR='/home/h01/frum' %}
{%- set LINUX_IDEALISED_BICYCLIC_LAM_RCE_KGO='vn11.1' %}
{%- set LINUX_IDEALISED_BICYCLIC_LAM_BOMEX_KGO='vn11.1' %}
{%- set LINUX_IDEALISED_BICYCLIC_LAM_DRY2DPL_KGO='vn11.1' %}
{%- set LINUX_N48_EG_KGO='vn11.1' %}
{%- set LINUX_N48_GA7_AMIP_12HR_KGO='vn11.1' %}
{%- set LINUX_N48_GA7_AMIP_NAMING_KGO='vn11.1' %}
{%- set LINUX_N48_GA7_AMIP_12HR_COMP_CHECK_KGO='vn11.1' %}
{%- set LINUX_N48_GA_AMIP_EXP_12HR_KGO='vn11.1' %}
{%- set LINUX_N48_GA_AMIP_EXP_NAMING_KGO='vn11.1' %}
{%- set LINUX_N48_GA_AMIP_EXP_12HR_COMP_CHECK_KGO='vn11.1' %}
{%- set LINUX_N48_GLOMAP_CLIM_12HR_KGO='vn11.1' %}
{%- set LINUX_N48_GLOMAP_CLIM_12HR_COMP_CHECK_KGO='vn11.1' %}
{%- set LINUX_N48_EG_DRHOOK_KGO='vn11.1' %}
{%- set LINUX_N48_EG_PWS_KGO='vn11.1' %}
{%- set LINUX_RECON_LAM_FIX_TO_FIX_RES_KGO='vn11.1' %}
{%- set LINUX_RECON_LAM_FIX_TO_VAR_RES_KGO='vn11.1' %}
{%- set LINUX_RECON_LAM_VAR_TO_FIX_RES_KGO='vn11.1' %}
{%- set LINUX_RECON_LAM_VAR_TO_VAR_RES_KGO='vn11.1' %}
{%- set LINUX_RECON_NEAREST_NEIGHBOUR_NZ_KGO='vn11.1' %}
{%- set LINUX_RECON_N108_ND_VAR_AREA_WEIGHT_KGO='vn11.1' %}
{%- set LINUX_RECON_N108_ND_INTERP_ALL_FIELDS_KGO='vn11.1' %}
{%- set LINUX_RECON_N216_EG_INTERP_ALL_FIELDS_BASIC_KGO='vn11.1' %}
{%- set LINUX_RECON_N216_EG_SELECT_FIELDS_FROM_NAMELIST_KGO='vn11.1' %}
{%- set LINUX_RECON_N48_EG_GRIB1_KGO='vn11.1' %}
{%- set LINUX_RECON_N48_EG_GRIB2_KGO='vn11.1' %}
{%- set LINUX_RECON_N48_ND_2D_CCA_TRANS_BILINEAR_KGO='vn11.1' %}
{%- set LINUX_RECON_N48_ND_GRIB1_KGO='vn11.1' %}
{%- set LINUX_RECON_N48_ND_GRIB2_KGO='vn11.1' %}
{%- set LINUX_RECON_N96_ND_INIT_PROG_ANCIL_KGO='vn11.1' %}
{%- set LINUX_SCM_TOGACOARE_GA6_KGO='vn11.1' %}
{%- set LINUX_SCM_GABLS3_GA6_KGO='vn11.1' %}
{%- set LINUX_SEUKV_EG_KGO='vn11.1' %}
{%- set LINUX_IFORT_CREATEBC_GLOBAL_EG_FIXED_ND_0DUST0_KGO='vn11.1' %}
{%- set LINUX_IFORT_CREATEBC_GLOBAL_EG_FIXED_EG_2DUST6_KGO='vn11.1' %}
{%- set LINUX_IFORT_CREATEBC_GLOBAL_EG_VARRES_ND_0DUST0_KGO='vn11.1' %}
{%- set LINUX_IFORT_CREATEBC_GLOBAL_EG_VARRES_EG_2DUST6_KGO='vn11.1' %}
{%- set LINUX_IFORT_CREATEBC_FIXED_EG_VARRES_ND_0DUST0_KGO='vn11.1' %}
{%- set LINUX_IFORT_CREATEBC_FIXED_EG_FIXED_ND_0DUST0_KGO='vn11.1' %}
{%- set LINUX_IFORT_CREATEBC_FIXED_EG_FIXED_EG_0DUST0_KGO='vn11.1' %}
{%- set LINUX_IFORT_CREATEBC_COMP_CHECK_GLOBAL_EG_VARRES_EG_2DUST6_KGO='vn11.1' %}
{%- set LINUX_IFORT_CREATEBC_THREAD_CHECK_GLOBAL_EG_VARRES_EG_2DUST6_KGO='vn11.1' %}
{%- set LINUX_IFORT_CREATEBC_DRHOOK_GLOBAL_EG_VARRES_EG_2DUST6_KGO='vn11.1' %}
{%- set LINUX_IFORT_CREATEBC_GLOBAL_EG_FRAME_EG_2DUST2_KGO='vn11.1' %}
{%- set LINUX_IFORT_CREATEBC_FRAME_EG_VARRES_EG_2DUST6_KGO='vn11.1' %}
{%- set LINUX_IFORT_CREATEBC_VARRES_EG_FRAME_EG_0DUST0_KGO='vn11.1' %}
{%- set LINUX_IFORT_CREATEBC_FRAME_EG_FIXED_EG_0DUST0_KGO='vn11.1' %}
{%- set LINUX_UTILS_CRMSTYLE_COARSE_GRID_KGO='vn11.1' %}
{%- set LINUX_UTILS_PPTOANC_BASIC_TEST_KGO='vn11.1' %}
{%- set LINUX_UTILS_SSTPERT_KGO='vn11.1' %}
{%- set LINUX_UTILS_WAFCCB_KGO='vn11.1' %}
{%- set XC40_AQUM_EG_KGO='vn11.1' %}
{%- set XC40_AQUM_EG_GLOMAP_KGO='vn11.1' %}
{%- set XC40_AQUM_EG_IAU_KGO='vn11.1' %}
{%- set XC40_AQUM_EG_COMP_CHECK_KGO='vn11.1' %}
{%- set XC40_AQUM_EG_GLOMAP_COMP_CHECK_KGO='vn11.1' %}
{%- set XC40_CENTRAL_INSTALL_DIR='/projects/um1' %}
{%- set SUBPROJECT='um_rose_stem' %}
{%- set XC40_COUPLED_GC3_KGO='vn11.1' %}
{%- set XC40_COUPLED_UKESM_KGO='vn11.1' %}
{%- set XC40_EURO4_EG_KGO='vn11.1' %}
{%- set XC40_IDEALISED_BICYCLIC_LAM_RCE_KGO='vn11.1' %}
{%- set XC40_IDEALISED_BICYCLIC_LAM_BOMEX_KGO='vn11.1' %}
{%- set XC40_IDEALISED_BICYCLIC_LAM_DRY2DPL_KGO='vn11.1' %}
{%- set XC40_IDEALISED_BICYCLIC_LAM_RCE_GNU_KGO='vn11.1' %}
{%- set XC40_IDEALISED_EXO_ISO_HD209_KGO='vn11.1' %}
{%- set XC40_IDEALISED_EXO_SHJ_KGO='vn11.1' %}
{%- set XC40_IDEALISED_EXO_EL_RT_KGO='vn11.1' %}
{%- set XC40_GLOBAL_TO_LAM_EG_KGO='vn11.1' %}
{%- set XC40_MOGREPS_G_EG_KGO='vn11.1' %}
{%- set XC40_MOGREPS_G_EXP_EG_KGO='vn11.1' %}
{%- set XC40_MOGREPS_UK_EG_KGO='vn11.1' %}
{%- set XC40_MOGREPS_UK_EXP_EG_KGO='vn11.1' %}
{%- set XC40_N216_GA6P1_GLU_KGO='vn11.1' %}
{%- set XC40_N216_GA6P1_GLU_4DIAU_KGO='vn11.1' %}
{%- set XC40_N48_EG_KGO='vn11.1' %}
{%- set XC40_N48_EG_DRHOOK_KGO='vn11.1' %}
{%- set XC40_N48_EG_GNU_KGO='vn11.1' %}
{%- set XC40_N48_EG_GNU_COMP_CHECK_KGO='vn11.1' %}
{%- set XC40_N48_UKCA_EG_GNU_KGO='vn11.1' %}
{%- set XC40_N48_UKCA_EG_GNU_NOOMP_KGO='vn11.1' %}
{%- set XC40_N48_UKCA_EG_GNU_COMP_CHECK_KGO='vn11.1' %}
{%- set XC40_N48_EG_IFORT_KGO='vn11.1' %}
{%- set XC40_N48_EG_PWS_KGO='vn11.1' %}
{%- set XC40_N48_EG_FT_KGO='vn11.1' %}
{%- set XC40_N48_EG_DCH_KGO='vn11.1' %}
{%- set XC40_N48_EG_SHORTSTEP_KGO='vn11.1' %}
{%- set XC40_N48_EG_MORUSES_KGO='vn11.1' %}
{%- set XC40_N48_EG_MORUSES_SHORTSTEP_KGO='vn11.1' %}
{%- set XC40_N48_GLOMAP_CLIM_KGO='vn11.1' %}
{%- set XC40_N48_GLOMAP_CLIM_COMP_CHECK_KGO='vn11.1' %}
{%- set XC40_N48_GA7_AMIP_2DAY_KGO='vn11.1' %}
{%- set XC40_N48_GA7_AMIP_2DAY_NRCHEM_KGO='vn11.1' %}
{%- set XC40_N48_GA7_AMIP_NAMING_KGO='vn11.1' %}
{%- set XC40_N48_GA7_AMIP_2DAY_COMP_CHECK_KGO='vn11.1' %}
{%- set XC40_N48_GA7_AMIP_10DAY_KGO='vn11.1' %}
{%- set XC40_N48_GA7_AMIP_30DAY_KGO='vn11.1' %}
{%- set XC40_N48_GA7_AMIP_SP_PHYSICS_KGO='vn11.1' %}
{%- set XC40_N48_GA_AMIP_EXP_2DAY_KGO='vn11.1' %}
{%- set XC40_N48_GA_AMIP_EXP_2DAY_NRCHEM_KGO='vn11.1' %}
{%- set XC40_N48_GA_AMIP_EXP_NAMING_KGO='vn11.1' %}
{%- set XC40_N48_GA_AMIP_EXP_2DAY_COMP_CHECK_KGO='vn11.1' %}
{%- set XC40_N48_GA_AMIP_EXP_10DAY_KGO='vn11.1' %}
{%- set XC40_N48_GA_AMIP_EXP_30DAY_KGO='vn11.1' %}
{%- set XC40_N48_GA_AMIP_EXP_SP_PHYSICS_KGO='vn11.1' %}
{%- set XC40_N512_EG_KGO='vn11.1' %}
{%- set XC40_N96_TRIFFID_EG_KGO='vn11.1' %}
{%- set XC40_N96_TRIFFID_EG_2DAY_KGO='vn11.1' %}
{%- set XC40_N96_TRIFFID_ESM_EG_KGO='vn11.1' %}
{%- set XC40_N96_AMIP_EG_KGO='vn11.1' %}
{%- set XC40_N96_AMIP_EG_FVTRACK_KGO='vn11.1' %}
{%- set XC40_N96_AMIP_EG_DRHOOK_KGO='vn11.1' %}
{%- set XC40_N96_EG_DYNTRACERS_KGO='vn11.1' %}
{%- set XC40_N96_GLOMAP_CLIM_KGO='vn11.1' %}
{%- set XC40_RECON_LAM_FIX_TO_FIX_RES_KGO='vn11.1' %}
{%- set XC40_RECON_LAM_FIX_TO_VAR_RES_KGO='vn11.1' %}
{%- set XC40_RECON_LAM_VAR_TO_FIX_RES_KGO='vn11.1' %}
{%- set XC40_RECON_LAM_VAR_TO_VAR_RES_KGO='vn11.1' %}
{%- set XC40_RECON_NEAREST_NEIGHBOUR_NZ_KGO='vn11.1' %}
{%- set XC40_RECON_N108_ND_VAR_AREA_WEIGHT_KGO='vn11.1' %}
{%- set XC40_RECON_N96_ND_INIT_PROG_ANCIL_KGO='vn11.1' %}
{%- set XC40_RECON_N48_ND_2D_CCA_TRANS_BILINEAR_KGO='vn11.1' %}
{%- set XC40_RECON_N512_ND_GRIB1_KGO='vn11.1' %}
{%- set XC40_RECON_N512_ND_GRIB2_KGO='vn11.1' %}
{%- set XC40_RECON_N512_EG_GRIB1_KGO='vn11.1' %}
{%- set XC40_RECON_N512_EG_GRIB2_KGO='vn11.1' %}
{%- set XC40_RECON_N108_ND_INTERP_ALL_FIELDS_KGO='vn11.1' %}
{%- set XC40_RECON_N216_EG_INTERP_ALL_FIELDS_BASIC_KGO='vn11.1' %}
{%- set XC40_RECON_N216_EG_SELECT_FIELDS_FROM_NAMELIST_KGO='vn11.1' %}
{%- set XC40_RECON_N216_EG_INIT_MLSNOW_KGO='vn11.1' %}
{%- set XC40_RECON_N320_N320_MLSNOW_KGO='vn11.1' %}
{%- set XC40_RECON_N320_N320FRC_MLSNOW_KGO='vn11.1' %}
{%- set XC40_RECON_N320_N3201T_MLSNOW_KGO='vn11.1' %}
{%- set XC40_RECON_N320_N216_MLSNOW_KGO='vn11.1' %}
{%- set XC40_RECON_N320_N512_MLSNOW_KGO='vn11.1' %}
{%- set XC40_RECON_N320_N216ZSL_MLSNOW_KGO='vn11.1' %}
{%- set XC40_RECON_N320_N320SL7_MLSNOW_KGO='vn11.1' %}
{%- set XC40_RECON_LAM_FROM_GRIB_CUTOUT_KGO='vn11.1' %}
{%- set XC40_SCM_TOGACOARE_GA6_KGO='vn11.1' %}
{%- set XC40_SCM_TOGACOARE_GA6_GNU_KGO='vn11.1' %}
{%- set XC40_SCM_GABLS3_GA6_KGO='vn11.1' %}
{%- set XC40_SCM_GABLS3_GA6_GNU_KGO='vn11.1' %}
{%- set XC40_SEUKF_TKEBL_KGO='vn11.1' %}
{%- set XC40_SEUKV_EG_CASIM_COMP_CHECK_KGO='vn11.1' %}
{%- set XC40_SEUKV_EG_CASIM_KGO='vn11.1' %}
{%- set XC40_SEUKV_EG_KGO='vn11.1' %}
{%- set XC40_SEUKV_EG_URBAN1T_KGO='vn11.1' %}
{%- set XC40_SEUKV_EG_DRHOOK_KGO='vn11.1' %}
{%- set XC40_SEUKV_EG_COMP_CHECK_KGO='vn11.1' %}
{%- set XC40_SEUKV_EG_NODA_KGO='vn11.1' %}
{%- set XC40_SEUKV_EG_NODA_URBAN1T_KGO='vn11.1' %}
{%- set XC40_UKCA_EG_STRATTROP_COLUMNS_KGO='vn11.1' %}
{%- set XC40_UKCA_EG_STRATTROP_COLUMNS_SAFE_KGO='vn11.1' %}
{%- set XC40_UKCA_EG_STRATTROP_KGO='vn11.1' %}
{%- set XC40_UKCA_EG_STRATTROP_SAFE_KGO='vn11.1' %}
{%- set XC40_UKCA_NUDGED_KGO='vn11.1' %}
{%- set XC40_UKV1P5_EG_NODA_KGO='vn11.1' %}
{%- set XC40_UKV1P5_EG_DA_KGO='vn11.1' %}
{%- set XC40_UKV1P5_EXP_KGO='vn11.1' %}
{%- set XC40_UTILS_CONVPP_64B_LARGE_FF_KGO='vn11.1' %}
{%- set XC40_UTILS_CONVPP_64B_SMALL_FF_KGO='vn11.1' %}
{%- set XC40_UTILS_CONVPP_IBM_NUMBER_MDL_LVLS_KGO='vn11.1' %}
{%- set XC40_UTILS_CONVPP_IBM_NUMBER_STD_LVLS_KGO='vn11.1' %}
{%- set XC40_UTILS_CRMSTYLE_COARSE_GRID_KGO='vn11.1' %}
{%- set XC40_UTILS_PPTOANC_BASIC_TEST_KGO='vn11.1' %}
{%- set XC40_UTILS_CCE_SSTPERT_KGO='vn11.1' %}
{%- set XC40_UTILS_IFORT_SSTPERT_KGO='vn11.1' %}
{%- set XC40_UTILS_GNU_SSTPERT_KGO='vn11.1' %}
{%- set XC40_UTILS_CCE_WAFCCB_KGO='vn11.1' %}
{%- set XC40_UTILS_IFORT_WAFCCB_KGO='vn11.1' %}
{%- set XC40_UTILS_GNU_WAFCCB_KGO='vn11.1' %}
{%- set XC40_UTILS_VOMEXT_DEFAULT_ND_KGO='vn11.1' %}
{%- set XC40_UTILS_VOMEXT_DEFAULT_EG_KGO='vn11.1' %}
{%- set XC40_CCE_CREATEBC_GLOBAL_ND_FIXED_ND_2DUST2_KGO='vn11.1' %}
{%- set XC40_CCE_CREATEBC_GLOBAL_ND_FIXED_EG_0DUST0_KGO='vn11.1' %}
{%- set XC40_CCE_CREATEBC_GLOBAL_EG_FIXED_ND_0DUST0_KGO='vn11.1' %}
{%- set XC40_CCE_CREATEBC_GLOBAL_EG_FIXED_EG_2DUST6_KGO='vn11.1' %}
{%- set XC40_CCE_CREATEBC_GLOBAL_EG_FIXED_EG_TIMECONTROL_KGO='vn11.1' %}
{%- set XC40_CCE_CREATEBC_GLOBAL_EG_VARRES_ND_0DUST0_KGO='vn11.1' %}
{%- set XC40_CCE_CREATEBC_GLOBAL_EG_VARRES_EG_2DUST6_KGO='vn11.1' %}
{%- set XC40_CCE_CREATEBC_FIXED_EG_VARRES_ND_0DUST0_KGO='vn11.1' %}
{%- set XC40_CCE_CREATEBC_FIXED_EG_FIXED_ND_0DUST0_KGO='vn11.1' %}
{%- set XC40_CCE_CREATEBC_FIXED_EG_FIXED_EG_0DUST0_KGO='vn11.1' %}
{%- set XC40_CCE_CREATEBC_VARRES_EG_FIXED_EG_0DUST0_KGO='vn11.1' %}
{%- set XC40_CCE_CREATEBC_VARRES_EG_FIXED_ND_0DUST0_KGO='vn11.1' %}
{%- set XC40_CCE_CREATEBC_GLOBAL_EG_FRAME_EG_2DUST2_KGO='vn11.1' %}
{%- set XC40_CCE_CREATEBC_FRAME_EG_VARRES_EG_2DUST6_KGO='vn11.1' %}
{%- set XC40_CCE_CREATEBC_COMP_CHECK_GLOBAL_EG_VARRES_EG_2DUST6_KGO='vn11.1' %}
{%- set XC40_CCE_CREATEBC_THREAD_CHECK_GLOBAL_EG_VARRES_EG_2DUST6_KGO='vn11.1' %}
{%- set XC40_CCE_CREATEBC_GLOBAL_ND_FIXED_EG_FREETRACER_KGO='vn11.1' %}
{%- set XC40_CCE_CREATEBC_GLOBAL_EG_FIXED_ND_AQUMTRACER_KGO='vn11.1' %}
{%- set XC40_CCE_CREATEBC_GLOBAL_EG_FIXED_EG_AQUMTRACER_KGO='vn11.1' %}
{%- set XC40_CCE_CREATEBC_VARRES_EG_FRAME_EG_0DUST0_KGO='vn11.1' %}
{%- set XC40_CCE_CREATEBC_FRAME_EG_FIXED_EG_0DUST0_KGO='vn11.1' %}
{%- set XC40_CCE_CREATEBC_COMP_CHECK_VARRES_EG_FIXED_EG_ROWCOL_KGO='vn11.1' %}
{%- set XC40_CCE_CREATEBC_THREAD_CHECK_VARRES_EG_FIXED_EG_ROWCOL_KGO='vn11.1' %}
{%- set XC40_CCE_CREATEBC_GLOBAL_EG_FRAME_EG_PS39UKV_KGO='vn11.1' %}
{%- set XC40_CCE_CREATEBC_FRAME_EG_VARRES_EG_PS39UKV_KGO='vn11.1' %}
{%- set XC40_CCE_CREATEBC_DR_HOOK_GLOBAL_EG_VARRES_EG_2DUST6_KGO='vn11.1' %}
{%- set XC40_IFORT_CREATEBC_GLOBAL_ND_FIXED_ND_2DUST2_KGO='vn11.1' %}
{%- set XC40_IFORT_CREATEBC_GLOBAL_ND_FIXED_EG_0DUST0_KGO='vn11.1' %}
{%- set XC40_IFORT_CREATEBC_GLOBAL_EG_FIXED_ND_0DUST0_KGO='vn11.1' %}
{%- set XC40_IFORT_CREATEBC_GLOBAL_EG_FIXED_EG_2DUST6_KGO='vn11.1' %}
{%- set XC40_IFORT_CREATEBC_GLOBAL_EG_FIXED_EG_TIMECONTROL_KGO='vn11.1' %}
{%- set XC40_IFORT_CREATEBC_GLOBAL_EG_VARRES_ND_0DUST0_KGO='vn11.1' %}
{%- set XC40_IFORT_CREATEBC_GLOBAL_EG_VARRES_EG_2DUST6_KGO='vn11.1' %}
{%- set XC40_IFORT_CREATEBC_FIXED_EG_VARRES_ND_0DUST0_KGO='vn11.1' %}
{%- set XC40_IFORT_CREATEBC_FIXED_EG_FIXED_ND_0DUST0_KGO='vn11.1' %}
{%- set XC40_IFORT_CREATEBC_FIXED_EG_FIXED_EG_0DUST0_KGO='vn11.1' %}
{%- set XC40_IFORT_CREATEBC_VARRES_EG_FIXED_EG_0DUST0_KGO='vn11.1' %}
{%- set XC40_IFORT_CREATEBC_VARRES_EG_FIXED_ND_0DUST0_KGO='vn11.1' %}
{%- set XC40_IFORT_CREATEBC_GLOBAL_EG_FRAME_EG_2DUST2_KGO='vn11.1' %}
{%- set XC40_IFORT_CREATEBC_FRAME_EG_VARRES_EG_2DUST6_KGO='vn11.1' %}
{%- set XC40_IFORT_CREATEBC_COMP_CHECK_GLOBAL_EG_VARRES_EG_2DUST6_KGO='vn11.1' %}
{%- set XC40_IFORT_CREATEBC_THREAD_CHECK_GLOBAL_EG_VARRES_EG_2DUST6_KGO='vn11.1' %}
{%- set XC40_IFORT_CREATEBC_GLOBAL_ND_FIXED_EG_FREETRACER_KGO='vn11.1' %}
{%- set XC40_IFORT_CREATEBC_GLOBAL_EG_FIXED_ND_AQUMTRACER_KGO='vn11.1' %}
{%- set XC40_IFORT_CREATEBC_GLOBAL_EG_FIXED_EG_AQUMTRACER_KGO='vn11.1' %}
{%- set XC40_IFORT_CREATEBC_VARRES_EG_FRAME_EG_0DUST0_KGO='vn11.1' %}
{%- set XC40_IFORT_CREATEBC_FRAME_EG_FIXED_EG_0DUST0_KGO='vn11.1' %}
{%- set XC40_IFORT_CREATEBC_COMP_CHECK_VARRES_EG_FIXED_EG_ROWCOL_KGO='vn11.1' %}
{%- set XC40_IFORT_CREATEBC_THREAD_CHECK_VARRES_EG_FIXED_EG_ROWCOL_KGO='vn11.1' %}
{%- set XC40_IFORT_CREATEBC_GLOBAL_EG_FRAME_EG_PS39UKV_KGO='vn11.1' %}
{%- set XC40_IFORT_CREATEBC_FRAME_EG_VARRES_EG_PS39UKV_KGO='vn11.1' %}
