# Groups for NCI rose stem tests
#
# developer: To be run when contributing changes to trunk
#
# nightly:  Run automatically on trunk
#           https://climate-cms.org/jenkins/job/UM/job/trunk-nightly
# weekly:   Run automatically on trunk, like nightly but more expensive runs
#           https://climate-cms.org/jenkins/job/UM/job/trunk-weekly

{%- set groups = {

    "developer" : [
    	         "nci_n48_eg_omp_ios",
		 "nci_n48_eg_noomp_comp_check",
		 "scripts"
                  ],
		
    "nightly"   : [
                 "developer", 
		 "nci_n48_eg_noomp",
		 "nci_n48_ga_amip_exp_2day",
		  ],

    "weekly"    : ["nci"],

    "scripts"   : ["umdp3_check", "ifdef_check", "nl_bcast_check"],

    "scm" : [    "nci_scm_togacoare_ga6",
                 "nci_scm_gabls3_ga6",
		 "nci_scm_gabls3_ga6_comp_check",
                 ],

    "ga_amip_exp" : [
                 "nci_n48_ga_amip_exp_2day",
                 "nci_n48_ga_amip_exp_12hr_comp_check",
		    ],

    "netcdf" : [
                 "nci_n48_ga7_amip_2day",
                 "nci_n48_ga_amip_exp_2day",
		    ],

    "nci" : [
                 "nci_n96_amip_eg", 
		 "nci_n48_eg_noomp",
		 "nci_n48_eg_noomp_comp_check",
		 "nci_n48_eg_omp_noios",
		 "nci_n48_eg_omp_ios",
                 "nci_n48_ga7_amip_2day",
		 "nci_n48_ga7_amip_12hr_comp_check",
                 "nci_n48_ga_amip_exp_2day",
		 "nci_n48_ga_amip_exp_12hr_comp_check",
		 "nci_n512_eg" ,
		 "nci_scm_togacoare_ga6",
		 "nci_scm_gabls3_ga6",
		 "nci_scm_gabls3_ga6_comp_check",
                 "nci_createbc_calcs", 
                 "nci_global_to_lam_eg",
                 "nci_ukca_eg_strattrop",
                 "nci_n96_amip_eg_drhook",
		 "scripts"
		 ],
    }
%}
