{%- set UMDIR                   = '/projects/access/umdir'                %}
{%- set NCI_CENTRAL_INSTALL_DIR = UMDIR                                   %}
{%- set NCI_EXPRESS_LIMIT = NCI_EXPRESS_LIMIT | default(16) %}
{%- set NCI_MEM_PER_CORE = NCI_MEM_PER_CORE | default(1.5) %}
{%- set HOST_NCI                = HOST_NCI | default('raijin.nci.org.au') %}
{%- set PREBUILD_NCI_ROOT_DIR   = '/g/data/access/cylc-run/vn11.1_prebuilds' %}
{%- set KGO_NCI_ROOT_DIR        = '/g/data/access/KGO/standard_jobs/rose' %}

{#  KGO file versions
    For tests copied from the Met Office these should point to the equivalent
    `meto` variable, as the `meto` variable gets updated when the output
    changes.
#}
{%- import 'site/meto/variables.rc' as meto                               %}
{%- set NCI_N48_EG_KGO          = meto.XC40_N48_EG_KGO                   %}
{%- set NCI_N96_AMIP_EG_KGO     = meto.XC40_N96_AMIP_EG_KGO              %}
{%- set NCI_N96_AMIP_EG_DRHOOK_KGO     = meto.XC40_N96_AMIP_EG_DRHOOK_KGO              %}
{%- set NCI_N48_GA7_AMIP_2DAY_KGO     = meto.XC40_N48_GA7_AMIP_2DAY_KGO         %}
{%- set NCI_N48_GA7_AMIP_12HR_COMP_CHECK_KGO     = meto.XC40_N48_GA7_AMIP_2DAY_COMP_CHECK_KGO         %}
{%- set NCI_N48_GA7_AMIP_10DAY_KGO     = meto.XC40_N48_GA7_AMIP_10DAY_KGO         %}
{%- set NCI_N48_GA7_AMIP_30DAY_KGO     = meto.XC40_N48_GA7_AMIP_30DAY_KGO         %}
{%- set NCI_N48_GA_AMIP_EXP_2DAY_KGO     = meto.XC40_N48_GA_AMIP_EXP_2DAY_KGO         %}
{%- set NCI_N48_GA_AMIP_EXP_12HR_COMP_CHECK_KGO     = meto.XC40_N48_GA_AMIP_EXP_2DAY_COMP_CHECK_KGO         %}
{%- set NCI_N512_EG_KGO     = meto.XC40_N512_EG_KGO              %}
{%- set NCI_SCM_TOGACOARE_GA6_KGO     = meto.XC40_SCM_TOGACOARE_GA6_KGO              %}
{%- set NCI_SCM_GABLS3_GA6_KGO     = meto.XC40_SCM_GABLS3_GA6_KGO              %}
{%- set NCI_UKCA_EG_STRATTROP_KGO     = meto.XC40_UKCA_EG_STRATTROP_KGO              %}
{%- set NCI_CREATEBC_GLOBAL_EG_FIXED_ND_0DUST0_KGO = meto.XC40_IFORT_CREATEBC_GLOBAL_EG_FIXED_ND_0DUST0_KGO %}
{%- set NCI_CREATEBC_GLOBAL_ND_FIXED_EG_0DUST0_KGO = meto.XC40_IFORT_CREATEBC_GLOBAL_ND_FIXED_EG_0DUST0_KGO %}
{%- set NCI_CREATEBC_GLOBAL_EG_FIXED_EG_2DUST6_KGO = meto.XC40_IFORT_CREATEBC_GLOBAL_EG_FIXED_EG_2DUST6_KGO %}
{%- set NCI_CREATEBC_GLOBAL_ND_FIXED_ND_2DUST2_KGO = meto.XC40_IFORT_CREATEBC_GLOBAL_ND_FIXED_ND_2DUST2_KGO %}
{%- set NCI_CREATEBC_GLOBAL_EG_FIXED_EG_TIMECONTROL_KGO = meto.XC40_IFORT_CREATEBC_GLOBAL_EG_FIXED_EG_TIMECONTROL_KGO %}
{%- set NCI_CREATEBC_GLOBAL_EG_VARRES_ND_0DUST0_KGO = meto.XC40_IFORT_CREATEBC_GLOBAL_EG_VARRES_ND_0DUST0_KGO %}
{%- set NCI_CREATEBC_GLOBAL_EG_VARRES_EG_2DUST6_KGO = meto.XC40_IFORT_CREATEBC_GLOBAL_EG_VARRES_EG_2DUST6_KGO %}
{%- set NCI_CREATEBC_FIXED_EG_VARRES_ND_0DUST0_KGO = meto.XC40_IFORT_CREATEBC_FIXED_EG_VARRES_ND_0DUST0_KGO %}
{%- set NCI_CREATEBC_FIXED_EG_FIXED_ND_0DUST0_KGO = meto.XC40_IFORT_CREATEBC_FIXED_EG_FIXED_ND_0DUST0_KGO %}
{%- set NCI_CREATEBC_FIXED_EG_FIXED_EG_0DUST0_KGO = meto.XC40_IFORT_CREATEBC_FIXED_EG_FIXED_EG_0DUST0_KGO %}
{%- set NCI_CREATEBC_VARRES_EG_FIXED_EG_0DUST0_KGO = meto.XC40_IFORT_CREATEBC_VARRES_EG_FIXED_EG_0DUST0_KGO %}
{%- set NCI_CREATEBC_VARRES_EG_FIXED_ND_0DUST0_KGO = meto.XC40_IFORT_CREATEBC_VARRES_EG_FIXED_ND_0DUST0_KGO %}
{%- set NCI_CREATEBC_GLOBAL_EG_FRAME_EG_2DUST2_KGO = meto.XC40_IFORT_CREATEBC_GLOBAL_EG_FRAME_EG_2DUST2_KGO %}
{%- set NCI_CREATEBC_FRAME_EG_VARRES_EG_2DUST6_KGO = meto.XC40_IFORT_CREATEBC_FRAME_EG_VARRES_EG_2DUST6_KGO %}
{%- set NCI_CREATEBC_COMP_CHECK_GLOBAL_EG_VARRES_EG_2DUST6_KGO = meto.XC40_IFORT_CREATEBC_COMP_CHECK_GLOBAL_EG_VARRES_EG_2DUST6_KGO %}
{%- set NCI_CREATEBC_VARRES_EG_FRAME_EG_0DUST0_KGO = meto.XC40_IFORT_CREATEBC_VARRES_EG_FRAME_EG_0DUST0_KGO %}
{%- set NCI_CREATEBC_FRAME_EG_FIXED_EG_0DUST0_KGO = meto.XC40_IFORT_CREATEBC_FRAME_EG_FIXED_EG_0DUST0_KGO %}
{%- set NCI_GLOBAL_TO_LAM_EG_KGO = meto.XC40_GLOBAL_TO_LAM_EG_KGO %}
{%- set NCI_CREATEBC_GLOBAL_ND_FIXED_EG_FREETRACER_KGO = meto.XC40_IFORT_CREATEBC_GLOBAL_ND_FIXED_EG_FREETRACER_KGO %}
{%- set NCI_CREATEBC_GLOBAL_EG_FIXED_ND_AQUMTRACER_KGO = meto.XC40_IFORT_CREATEBC_GLOBAL_EG_FIXED_ND_AQUMTRACER_KGO %}
