include-path = $HERE/inc $HERE/../inc

$extract{?} = extract

$fcflags_level = -O0 -Wall -ffpe-trap=invalid,zero -fbounds-check -Warray-bounds -fcheck-array-temporaries -finit-real=nan -fimplicit-none

include = um-atmos-common.cfg

# Gfortran 6.x/7.x series: Prevent internal compiler error when OpenMP is on
build-atmos.prop{fc.flags}[um/src/control/misc/affinity_mod.F90]  = $fcflags_common $fcflags_level $fcflags_drhook $fcflags_overrides

# Relax Fortran standards checking on COSP:
build-atmos.prop{fc.flags}[um/src/atmosphere/COSP]  = $fcflags_all -std=gnu
